[2016-10-11 15:49] jonesmz opened #7 "http://kronosnet.org/ documentation files are all empty"
They just have "Test chapter".

[2016-10-11 19:49] jonesmz opened #8 "Would you be willing to accept Doxygen comments expanding the in-code documentation?"
I don't see where else to communicate about this with you, so I opened an issue.

If I were to go through the code and add doxygen documentation to the code in various places, would you be willing to accept that change?

[2016-10-12 03:33] fabbione commented on #7
nobody every wrote the docs. It´s not really an issue and it´s in the TODO list too :-)

[2016-10-12 03:33] #7 closed, assigned to nobody

[2016-10-12 03:34] fabbione commented on #8
Yes of course, but my email address and mailing lists are perfectly functional (see www.kronosnet.org) and it´s nice of you to offer help.

[2016-10-12 03:34] #8 closed, assigned to nobody

[2017-01-10 11:37] sowani opened #19 "kronosnet build fails on x86_64 running Ubuntu 16.04."
Hi,

I am trying to build kronosnet by cloning the code from this repository. After cloning the code, I issued following commands in order:

cd kronosnet
./autogen.sh
./configure
make

I am building this with gcc (Ubuntu 5.4.0-6ubuntu1~16.04.4) 5.4.0 20160609. This is giving me following errors (apparently c99 mode is not getting set):

libtool: compile:  gcc -DHAVE_CONFIG_H -I. -I.. -I/usr/includ

[2017-01-10 11:45] fabbione commented on #19
Hi Atul,

yes we are aware of the issue and we are in the process if fixing the code (one or two days). You can temporary disable sctp support via ./configure and it will build fine.

Thanks
Fabio

[2017-01-10 11:45] #19 closed, assigned to nobody

[2017-01-10 11:57] sowani commented on #19
@fabbione Thanks for the clarification. I will wait for the fix.

Best regards,
Atul.

[2017-02-20 18:59] jonesmz opened #22 "Project style guide"
A guide for contributors that indicates such things as:

Spaces vs Tabs
Braces always or not required for one-line if statements
Minimum supported C dialect (e.g. C89, C99, C11, so on)
Variables declared at top of function, or closest to usage
Indentation levels inside of if-statements, loops, switch case, etc.
Starting curly-brace on same line or next line for function signatures, if statements,

[2017-02-20 19:22] jonesmz commented on #22
Column limit - e.g. 80 columns, 120 columns, no hard limit, so on.

[2017-02-20 20:03] jonesmz opened #23 "Header guard macros may conflict with other projects"
For example

kronosnet/libknet/transports.h has the headerguard __TRANSPORTS_H__

This is really quite generic and there's a high likelihood of __TRANSPORTS_H__ having been used in a header of another library that may someday be used in conjunction with kronosnet.

I recommend prefixing or postfixing headerguards with a UUID, such as

__TRANSPORTS_H_46C5B652_73C7_489C_C35A_8E4A1BC02509__

That way

[2017-02-20 20:16] jonesmz opened #24 "Function pointers stored in knet_transport_ops need better return types"
For reference, this is the declaration / definition of the struct knet_transport_ops

[code]

I'll go in order of each item:

- int (*transport_init)(knet_handle_t knet_h);
- int (*transport_free)(knet_handle_t knet_h);

What does this int represent? Success / failure?
Using a C99 bool, or an enum with success / failure values, such as

enum knet_bool
{
    SUCCESS = 0,
    FAILURE    = 1
}

Would

[2017-02-20 21:54] jonesmz opened #26 "Configure travis-ci for the official kronosnet repository"
Pursuant to the travis-ci configuration file that I contributed to this project a few weeks ago, a project developer needs to register for a free account with Travis CI and configure it to build the kronosnet project.

Additional optional features include modifying the gh-pages to display the current build status, and configure travis ci to verify pull requests, and so on.

[2017-02-20 23:01] jonesmz opened #27 "Changing a single .c file results in most or all of the code being recompiled"
Steps to reproduce

git clone https://github.com/fabbione/kronosnet.git /tmp/kronosnet
cd /tmp/kronosnet
./autogen.sh ; ./configure ; make -j
touch libknet/host.c
make -j # <- Recompiles at least a few dozen object files, instead of only host.c -> host.o, and then relinking the .o files

[2017-02-21 00:02] jonesmz opened #28 "Build error when compiling for Ubuntu Precise"
The command "make -j" exited with 2.
0.14s$ sudo make install
make  install-recursive
make[1]: Entering directory `/home/travis/build/jonesmz/kronosnet'
Making install in init
make[2]: Entering directory `/home/travis/build/jonesmz/kronosnet/init'
make[3]: Entering directory `/home/travis/build/jonesmz/kronosnet/init'
make[3]: Nothing to be done for `install-exec-am'.
test -z "" || /bin/mkdir -p "

[2017-02-21 04:34] #27 closed, assigned to nobody

[2017-02-21 04:35] fabbione commented on #27
thanks for remind me to fix this.

[2017-02-21 04:37] fabbione commented on #26
Hi jonesmz, I am not very familiar with travis-ci myself. Since you appear to have a deeper interest in it, would you like to be the one in charge of maintaining this part of the project and send me a pull request for gh-pages?

[2017-02-21 04:44] #28 closed, assigned to nobody

[2017-02-21 05:09] fabbione commented on #23
Yeah I think it makes sense to do better protection, but perhaps it´s enough to use KNET_TRANSPORT_H or alike vs adding whole UUIDs in there :-)

[2017-02-21 05:18] #23 closed, assigned to nobody

[2017-02-21 06:45] fabbione commented on #24
Added to the TODO list: https://trello.com/c/pVJnmzma/50-clarify-transport-ops-return-types

there are some more urgent issues that I need to work on. No promise i´ll get to it in short time. Perhaps you have time to send a patch?

[2017-02-21 06:48] fabbione commented on #22
This has been in the TODO list for some time: https://trello.com/c/HxL2JIFI/32-add-documentation

The whole project is missing doc, not just for developers.

[2017-02-21 18:39] jonesmz commented on #26
I'm willing to do that, yes.

[2017-02-21 18:41] jonesmz commented on #23
That seems reasonable.

[2017-02-21 18:42] jonesmz commented on #24
Sure, I'll look into it. No timeline guarantees, but maybe in a weekend or two.

[2017-02-22 03:46] fabbione commented on #26
Ok cool. We have been planning to add jenkis + buildbot for a while, but time is short as usual. travis will be a nice addition for the meantime.

[2017-02-22 03:47] fabbione commented on #24
That´s fine. The way I see it, it´s a nice code cleanup patch for an internal API that´s not exposed to the end user. Since it´s working fine, i don´t classify that as urgent so just take your time.

[2017-02-27 21:00] jonesmz opened #31 "Build error : Shadowed variable"
knet_bench.c:628:16: error: declaration of ‘time’ shadows a global declaration [-Werror=shadow]

You can see the output here: https://travis-ci.org/jonesmz/corosync/builds/205868396

[2017-02-28 04:17] fabbione commented on #31
Michael, thanks for the report, looks like Honza just sent the patch right before this ticket.

Is there a way perhaps we can configure travis to send only build failure mails to a specific mailing list?

We could use the commit list to track them.

[2017-02-28 04:17] #31 closed, assigned to nobody

[2017-02-28 19:28] jonesmz commented on #31
I'll look into Travis CI build break emails for you. Please stay tuned for my next batch of free time to work on it :-)

[2017-02-28 20:07] fabbione commented on #31
Ok cool :-) can you configure it to send emails to commits@lists.kronosnet.org ? i think it makes sense to keep the build results together with the build commits. I don´t feel strongly about opening another mailing list just for that. Make sense?

[2017-03-01 17:44] jonesmz opened #32 "Some clang compiler errors"
libtool: compile:  clang -DHAVE_CONFIG_H -I. -I.. -I/usr/include/nss -I/usr/include/nspr -g -O2 -fPIC -DPIC -O3 -ggdb3 -Wall -Wshadow -Wmissing-prototypes -Wmissing-declarations -Wstrict-prototypes -Wdeclaration-after-statement -Wpointer-arith -Wwrite-strings -Wcast-align -Wbad-function-cast -Wmissing-format-attribute -Wformat=2 -Wformat-security -Wformat-nonliteral -Wno-long-long -Wno-strict-alia

[2017-03-01 18:24] #32 closed, assigned to nobody

[2017-03-01 18:25] fabbione commented on #32
I only have access to clang 3.7 (this build specific fails with clang 3.6). The patch I pushed should solve the problem.

PS yes we know about S3 failure.. we lost even our todo list on trello during the outage.

[2017-04-13 06:24] liu4480 opened #34 "still other compile error on i686"
knet_bench.c:649:107: error: format ‘%zu’ expects argument of type ‘size_t’, but argument 6 has type ‘uint64_t {aka long long unsigned int}’ [-Werror=format=]
         printf("Execution time: %8.4f secs Average speed: %8.4f MB/sec %8.4f pckts/sec (size: %u total: %zu)\n", time_diff_sec, average_rx_mbytes, average_rx_pkts, current_pckt_size, rx_pkts);

[2017-04-13 06:25] liu4480 commented on #34
it seems that there are some vars defined as uint64_t, it will be different on i686 and x86_64, although i686 is not usual used for kronosnet and corosync.

[2017-04-13 08:22] fabbione commented on #34
can you please just provide a pull request with a patch? Happy to merge it.

[2017-04-13 09:07] #34 closed, assigned to nobody

[2017-10-19 04:15] fabbione commented on #26
https://ci.kronosnet.org/ is now live and integrated. builders for different OS/Distro are being added slowly. Functional CI will follow.

[2017-10-19 04:15] #26 closed, assigned to nobody

[2018-01-03 05:52] fabbione opened #107 "plugin loading path order"
Hey Feri,

I have just been hit by an ordering issue when doing testing.

Basically the system had an old set of plugins installed in /usr/lib.... and it turns out that while I was executing some make check with new plugins, the checks were loading the system installed knet plugins instead of the newly built one.

this needs to be fixed or we need to have knet Buildconflict knet in the event we ne

[2018-01-03 11:57] wferi commented on #107
This really shouldn't happen. I'm looking into it.

[2018-01-03 12:41] fabbione commented on #107
Yeah that was my expectations too. I had to yum erase the plugins while fixing some other unrelated stuff.

[2018-01-03 14:10] wferi commented on #107
Well, I can't reproduce this: `/usr/lib/kronosnet` serves as a fallback location only if `libknet/.libs` in the build tree misses some module. Please patch for example the `libknet/tests/api_knet_send_crypto_test` shell script to invoke `strace` in `func_exec_program_core ()` like

    exec strace -f -o /tmp/knet.strace "$progdir/$program" ${1+"$@"}

and share the resulting `/tmp/knet.strace`. The

[2018-01-03 14:37] fabbione commented on #107
I wonder if this is specific to fedora. The strace shows that it is loading the system default one when available and it's crashing (even tho they are in the same version at this point).

[foo.txt](https://github.com/kronosnet/kronosnet/files/1600632/foo.txt)

[2018-01-03 14:39] fabbione commented on #107
extra data: it crashes only if executed via the generated script that overrides the library loading stuff. If I execute directly the compiled binary .libs/... it works fine.

[2018-01-03 15:18] fabbione commented on #107
reproduced with both Fedora 26 and RHEL7 now.

[2018-01-03 15:22] fabbione commented on #107
more spam... so the crash might be related to how rpmbuild builds binaries/libraries.

If I use yum install.. then run the test from a locally built tree, i get those segfaults.

If I remove rpms, install the local tree, change the tree (for instance add an extra log_err), then run the test, the test will run smoothly, but using the old plugin. Let me grab a strace of this one. Once we confine the

[2018-01-03 15:28] fabbione commented on #107
[strace.txt](https://github.com/kronosnet/kronosnet/files/1600786/strace.txt)

no signs of loading the plugins from the newly built tree if the system ones are available.

[2018-01-03 15:32] fabbione commented on #107
[strace.txt](https://github.com/kronosnet/kronosnet/files/1600795/strace.txt)

if knet is not installed on the system, then it will get to use the locally built one.

[2018-01-03 21:14] wferi commented on #107
Did you check the `objdump -p` outputs? I suspect you'll find `RPATH` entries, which aren't overridden by  `LD_LIBRARY_PATH` like `RUNPATH` is.

[2018-01-03 22:28] wferi commented on #107
Please test with adding `-Wl,--enable-new-dtags` to `libknet_la_LDFLAGS`, too! Thanks.

[2018-01-04 06:52] fabbione commented on #107
Hey Feri, not sure which object to dump tho.

[root@kronosnet-node1-br0 libknet]# objdump -p .libs/libknet.so.1.0.0  |grep RPATH
  RPATH                /usr/lib64/kronosnet

nothing else. so it looks like RPATH is overwritten only when normal RPATH doesn't exist.

[2018-01-04 06:56] fabbione commented on #107
With -Wl,--enable-new-dtags there is no RPATH in objdump -p, i can see RUNPATH, but it doesn't solve the problem. Modules from RUNPATH are loaded before.

[2018-01-04 09:06] wferi commented on #107
Yes, the `*PATH` headers are the interesting ones, in `libknet/.libs/libknet.so` and `libknet/tests/.libs/whatever` (please note that `whatever` may stop gaining the `lt-` prefix after these changes). `LD_LIBRARY_PATH` is searched after `RPATH` but before `RUNPATH`, so having the latter should have solved the ordering problem... Please strace again with the new binaries. Instead of patching the wr

[2018-01-05 07:51] fabbione commented on #107
Hey Feri, sorry I am not ignoring this. Just busy with some other work today.

[2018-01-10 14:25] wferi opened #113 "No project description"
Now that 1.0 is out (\o/) the lack of any substantial project description on https://kronosnet.org/ (and consequently, in the packages) is getting embarrassing. "VPNs on steroids", "Multipoint-to-Multipoint VPN daemon" and even "Please refer to the not-yet-existing documentation for further information" clearly don't cut it. It would be possible to extract keywords from the HA Summit material, but

[2018-01-11 03:22] fabbione commented on #113
Hey Feri,
you are absolutely right, it´s almost embarassing :-) I have finally a couple of days off this week and should be able to address some of the pending issues.

Cheers
Fabio

[2018-01-11 06:36] fabbione commented on #113
Hi Feri, try and take a look if we are on the right path. I updated the main webpage. thanks for the feedback!

[2018-01-11 14:31] wferi commented on #113
I like it, thanks! I find the grammar a little suspicious, I'd say "referred to as knet" and "are the core", but let's leave that to @chrissie-c! :) Maybe the multi-home/multi-path facets could be mentioned explicitly if you find them important enough.

[2018-01-11 14:34] fabbione commented on #113
Yeps, my itaglish sucks :P let´s wait for chrissie tomorrow to review. gh-pages branch doesn´t need PR or anything, just push there :-)

[2018-01-15 03:46] fabbione commented on #113
I think the new page is good enough now.

[2018-01-15 03:46] #113 closed, assigned to nobody

[2018-01-15 03:58] fabbione opened #114 "debian valgrind missing fix for https://bugs.kde.org/show_bug.cgi?id=381289"
Hi Feri,

could you please talk to the Debian valgrind maintainer, that the current combination of glibc/valgrind is triggering this know upstream valgrind issue: https://bugs.kde.org/show_bug.cgi?id=381289 ?

simple reproducer is here: https://bugs.launchpad.net/ubuntu/+source/valgrind/+bug/1726711

I originally spotted this one on ubuntu and debian experimental. It looks like that the new glibc

[2018-01-15 09:59] wferi commented on #114
Hi, https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=886364 was opened on the 4th of January, and I added my +1 now. Let's see what the maintainer has to say.

[2018-01-15 10:01] fabbione commented on #114
ok cool thx. the same bug has already been fixed in fedora and ubuntu. It´s nowhere critical, but it´s an annoyance. I have to change CI configuration if the maintainer doesn´t fix it.

[2018-01-15 10:01] #114 closed, assigned to wferi

[2018-01-16 04:50] fabbione commented on #107
Hey Feri, finally back looking at this one.

Applied the following patch in 3 steps (one change at a time):

[fabbione@lilith kronosnet]$ git diff
diff --git a/libknet/Makefile.am b/libknet/Makefile.am
index 225d2c0..30fb134 100644
--- a/libknet/Makefile.am
+++ b/libknet/Makefile.am
@@ -85,6 +85,7 @@ EXTRA_libknet_la_DEPENDENCIES = $(SYMFILE)

 libknet_la_LDFLAGS     = -Wl,--version-script=$(srcdi

[2018-01-16 07:19] fabbione commented on #107
I found a workaround (aka getting closer):

[fabbione@lilith tests]$ git diff
diff --git a/libknet/Makefile.am b/libknet/Makefile.am
index 225d2c0..30fb134 100644
--- a/libknet/Makefile.am
+++ b/libknet/Makefile.am
@@ -85,6 +85,7 @@ EXTRA_libknet_la_DEPENDENCIES = $(SYMFILE)

 libknet_la_LDFLAGS     = -Wl,--version-script=$(srcdir)/$(SYMFILE) \
                          --export-dynamic \
+

[2018-01-18 04:45] fabbione commented on #107
One more test, that seems to be more interesting. All tests are build with -no-install:

[root@kronosnet-node1-br0 libknet]# objdump -p tests/api_knet_handle_crypto_test |grep PATH
  RPATH                /srv/knetansible/build/kronosnet/libknet/.libs
[root@kronosnet-node1-br0 libknet]# objdump -p .libs/libknet.so.1.0.0 |grep PATH
  RPATH                /usr/lib64/kronosnet

and both are correct an

[2018-01-18 14:01] wferi commented on #107
Well, looks like we have to forget the otherwise very elegant `-no-install` libtool option, because the `LD_LIBRARY_PATH` setting created by those ugly wrapper scripts is needed for `libknet.so.1`, and can't be replaced by a `RUNPATH` setting in the test binaries themselves. So please get rid of it, and use `AM_LDFLAGS=-Wl,--enable-new-dtags` in `tests/Makefile.am` and in `libknet_la_LDFLAGS` as w

[2018-01-18 14:19] wferi commented on #107
Seems to work fine here. The real test binaries in `tests/.libs` haven't got any path setting, no `RPATH` nor `RUNPATH`, so the `AM_LDFLAGS` setting may be superfluous after all. And the `RUNPATH` setting in `.libs/libknet.so.1.0.0` is only ever tried for finding `libm.so.6` (unsuccessfully), otherwise `LD_LIBRARY_PATH` is used to find everything from the build tree (except for the system librarie

[2018-01-18 14:32] fabbione commented on #107
Feri, do you mind to just post the patch that you are using now? It´s getting too many comments and confusing :-) thanks!

[2018-01-18 14:56] wferi commented on #107
Humble 95b0da7a. It does not make any difference on Debian, but hopefully helps on other distros.

[2018-01-18 15:04] fabbione commented on #107
ok.. this is totally ballistic :-) I tried that one and didn´t work. works now. Probably my env was dirty... the fsck ... anyway good job and thanks for the help here.

just make a PR, i´ll ack it right away and push it to stable

[2018-01-18 15:40] fabbione commented on #107
Man.. i am sorry. I did the wrong test. the patch doesn´t help. Let´s start hacking around from the runpath branch.

[2018-01-18 15:44] fabbione commented on #107
[root@kronosnet-node1-br0 libknet]# objdump -p tests/.libs/api_knet_send_crypto_test |grep PATH
[root@kronosnet-node1-br0 libknet]# objdump -p .libs/libknet.so.1.0.0 |grep PATH
  RUNPATH              /usr/lib64/kronosnet
[root@kronosnet-node1-br0 libknet]#

Test knet_send with nss and valid data
     12527:     find library=crypto_nss.so [0]; searching
     12527:      search path=/usr/lib64/krono

[2018-01-18 15:45] fabbione commented on #107
Somehow LD_LIBRARY_PATH leaked in my previous test.

[2018-01-18 15:47] fabbione commented on #107
I start to think this might be just a difference in RHEL/Fedora vs Debian libtool. I have nothing in tests/api_knet_send_crypto_test that points to override LD_LIBRARY_PATH.

[root@kronosnet-node1-br0 tests]# grep LD_ api_knet_send_crypto_test
relink_command="(cd /srv/knetansible/build/kronosnet/libknet/tests; { test -z \"\${LIBRARY_PATH+set}\" || unset LIBRARY_PATH || { LIBRARY_PATH=; export LIBR

[2018-01-18 16:38] wferi commented on #107
Absolutely, this is the [very](https://autotools.io/libtool/wrappers.html) [point](https://www.gnu.org/software/libtool/manual/html_node/Linking-executables.html#Linking-executables) of the wrapper script. Here is mine in full after patching in `LD_DEBUG`:
[code]
I wonder what yours do if not this...

[2018-01-18 19:48] fabbione commented on #107
[api_knet_send_crypto_test.txt](https://github.com/kronosnet/kronosnet/files/1644225/api_knet_send_crypto_test.txt)

this is the version generated in RHEL. As you can see they are substantially different exactly in the LD_LIBRARY_PATH stuff. I need to look if this is a Debian or Fedora behavior only.

[2018-01-19 08:51] wferi commented on #107
I did a rebuild from the 1.0 distribution tarball, which contains its own libtool, and the resulting wrapper script differs in the version string only: it misses the "Debian-2.4.6-2" suffix. What happens if you put `AM_LDFLAGS=-no-fast-install` into `tests/Makefile.am`? Does it change your wrapper script, or does it remove the `lt-` prefix of the binaries in `.libs`? Or maybe you've got a `-fast-i

[2018-01-19 09:22] fabbione commented on #107
Oddly enough I don´t get this lt- prefix anywhere, not even on Debian Unstable (sparc64). I was just doing the same guess work by diffing the different libtool, ltmain.sh and such. I can´t find (yet) anything relevant (or visibile) that could explain this completely different behavior. It is clearly some hidden default that I am afraid is pulled in from something other than libtool.

[2018-01-19 10:11] fabbione commented on #107
found it:

# Is shlibpath searched before the hard-coded library search path?
-shlibpath_overrides_runpath=no
+shlibpath_overrides_runpath=yes

on Debian that value is detected as yes, on Fedora/RHEL as no. This is autodetected at configure time, that explain why my version of libtool works fine (or as we think it should) on Debian. Now I need to figure out why the test fails on Fedora/RHEL... sig

[2018-01-19 11:10] wferi commented on #107
Good find! Libtool seems to detect the different linker defaults. What happens if you pass `LDFLAGS=-Wl,--enable-new-dtags` to `configure` at the very start?

[2018-01-19 12:30] fabbione commented on #107
Yeps, that does the trick, now we just need to incorporate that into configure.ac :-)

[2018-01-19 13:21] #107 closed, assigned to wferi

[2018-01-29 18:24] wferi opened #120 "-export-symbols-regex breaks some BSD tests"
The  export-regex branch (3f82052) causes [segmentation faults](https://ci.kronosnet.org/job/knet-manual-build-all/75/) in some tests on BSDs (the previous f77b5f3 commit [built fine](https://ci.kronosnet.org/job/knet-manual-build-all/78/)). It isn't an important change, only a slight simplification, and I've got no handy BSD machine at the moment to investigate. I'll get one eventually, but meanw

[2018-01-30 04:37] fabbione commented on #120
Before we go rabbit holing into this one, what is the use case / need for changing from file to regexp?

When I first looked into protecting exported symbols, I found that there only (effectively) 2 methods to achieve the goal (without counting some minor variants).

One is using the linker as we do now, and one is using code attributes in gcc.
http://anadoxin.org/blog/control-over-symbol-exports-

[2018-01-30 08:23] wferi commented on #120
We don't need this change. This should be a simpler way to express what the hand-made linker script does now. Behind the scenes, libtool actually generates and uses a linker script when given the `-export-symbols-regex` option, employing an explicit list instead of a wildcard. So the end result should be exactly the same, with less Automake boilerplate. This was intended to be a cleanup/simplifica

[2018-01-30 08:27] fabbione commented on #120
gotcha, i only chose the longer route because I had examples handy and I used it in the past.

[2018-02-12 09:55] wferi opened #131 "doxyxml breaks cross-compilation"
The current in-house manpage generation breaks cross-compilation. The _cross_ branch presents a not particularly elegant, but working solution to that. Another way to handle the problem was mentioned in #127: provide a switch to disable documentation generation (maybe even separate targets for building the documentation only). This would re-enable cross compilation and facilitate separate packagin

[2018-02-12 10:09] chrissie-c commented on #131
Making docs optional seems sensible to me. Either  after a failure to locate doxygen and/or by an explicit flag to ./configure

[2018-02-12 10:22] wferi commented on #131
@fabbione is against opportunistic doxygen usage (see #127), thus we settled for an explicit flag. To keep in line with that, `configure` should probably bail out if it finds itself cross-compiling with documentation enabled.

[2018-02-12 10:38] fabbione commented on #131
as agreed, there will be a switch to disable doc, but it also makes perfect sense to have a working cross compilation build system regardless of the switch.

we can probably leverage our powerpc builders to add the cross-compilation checks in CI.

Feri, I looked at the patch, is not horrible but we need double detection of libqb, one for doxyxml (build/local) and one for kronosnetd (crosscompiled)

[2018-02-12 12:32] wferi commented on #131
I added back the libqb check for kronosnetd. #132 is open if you find it worth the added complexity.
Anyway, having cross-compilation checks in the CI would be wonderful! (And surely faster than some native ones :)

[2018-02-12 13:09] fabbione commented on #131
Yeah we can add it in CI.. https://trello.com/c/0ksTsDbT/1915-add-cross-compilation-check-in-ci in low priority tho. First I need to finish to move corosync to CI ;)

[2018-02-12 16:34] fabbione commented on #131
Hey Feri, while at it, do you have any preference for cross-compilation testing? I want to make sure the build system doesn´t kill cross compilation, but neither I want to cross compile for 200 different targets. We are not testing gcc or dependencies here. Perhaps the host could be x86_64 and target some powerpc or something supported by Debian? I am thinking to just add builder debian based. I s

[2018-02-12 17:37] wferi commented on #131
Sure, there's no use getting overboard with this. I tested cross-building on x86_64 to armhf because I had a powerful x86_64 build host handy and could type armhf without looking at the architecture list. The builder performance is important to get results quickly, but the host (target) architecture should not matter much until we hit architecture peculiarities.
As far as I know, Debian does not d

[2018-02-12 18:02] fabbione commented on #131
Yeah that sounds sensible, do you have a link handy on setup and how-to? It´s been a while since i have done any of that cross-compilation work and it would speed me up greatly.

[2018-02-12 19:02] wferi commented on #131
Well, I worked by https://wiki.debian.org/CrossCompiling, and it boiled down to simply adding `--host=armhf` to my sbuild command line which I have been using already. Thus I can't comment on the main matter of that page, but it may help you.

[2018-02-13 08:41] #131 closed, assigned to nobody

[2018-02-16 18:44] wferi opened #133 "Git archive fails to build with obscure error"
Download the ZIP archive of a branch from GitHub, `unzip -x` and build it. It fails with:
[code]
It isn't very obvious that `echo 1.1 >.tarball-version` fixes this.
It would be nicer to provide at least a clear error in such cases, or even better let the build finish (maybe without the spec file).

[2018-02-17 05:26] fabbione commented on #133
My best guess without info is that the tarball from github does not contain any version info required to set the proper data in configure. which tarball is it specfically? master? stable1? stable1-proposed? is it gnu make or bsd make?

I hardly use the github tarballs for testing.

[2018-02-17 05:46] fabbione commented on #133
yes it´s definitely the lack of version information from github tarballs. I need to see if there is a way for github to embed some of those info on checkout (git attributes or properties) or we need to find a workaround.

[2018-02-17 05:48] fabbione commented on #133
[fabbione@lilith kronosnet-master]$ grep VERSION libknet/Makefile

PACKAGE_VERSION = UNKNOWN
VERSION = UNKNOWN

[2018-02-17 13:23] fabbione commented on #133
I think we can fix this one using gitattributes and modifying the build-aux/git-version-gen to account for that. I just need to figure out if we have enough info in the gitattributes to make it clean :-)

[2018-02-23 07:32] fabbione commented on #131
Just a quick update, the current crosstool chain in debian unstable cannot install due to broken dependencies. I am waiting for it to work to enable the job in CI.

[2018-02-23 07:34] fabbione commented on #131
https://ci.kronosnet.org/job/update-all-apt-unstable/166/update-all-apt-unstable=debian-unstable-cross-x86-64/console for reference

[2018-02-23 09:30] wferi commented on #131
I've got no idea why the package lists miss those packages, they're in the pool already. Let's hope it'll get better by tomorrow.

[2018-02-23 10:38] fabbione commented on #131
They are there, just in older versions that don´t satisfy the requirements. It´s not an issue or anything urgent, I only wanted to post an update on adding cross compilation in CI as agreed.

[2018-03-13 15:20] fabbione commented on #133
https://github.com/kronosnet/kronosnet/commit/e427d23b867adb0426564b8facc94e333372c574 this should fix the problem at configure time and spit out a verbose error message.

[2018-03-16 04:33] fabbione commented on #131
Finally got the build environment sorted. The CI job is here: https://ci.kronosnet.org/view/knet/job/knet-build-crosscompile-armhf/ and it´s automatically triggered (as non-voting) after each merge and each PR.

[2018-03-24 10:35] wferi commented on #131
Thanks for the effort, @fabbione! I'd like to note that the [crossbuild log](https://ci.kronosnet.org/job/knet-build-crosscompile-armhf/knet-build-crosscompile-armhf=debian-unstable-cross-x86-64/lastBuild/console) ends with

    /tmp/jenkins4187648895403782751.sh: 5: [: 37: unexpected operator

Is this expected?

[2018-03-25 02:38] fabbione commented on #131
On 3/24/2018 11:35 AM, wferi wrote:

It should be fixed now. We will see in the next run :-)

Fabio

[2018-03-26 20:31] wferi commented on #133
With #143 a verbose error message is printed now if `configure` detects `UNKNOWN` version. There's no way to proceed from a Git archive without adding version info manually in `.tarball-version`. Official tarballs work fine, though.

[2018-03-26 20:31] #133 closed, assigned to nobody

[2018-04-23 17:42] wferi opened #147 "Doubts about log_msg"
I've got a couple of problems with this code:
https://github.com/kronosnet/kronosnet/blob/72751d7325f09920dc5846df3e222abffdac7eb8/libknet/logging.c#L219-L224

1. The comment mentions `EINVAL`, but the code handles `EAGAIN`, and the purpose isn't obvious.

1. The documentation of `pthread_rwlock_rdlock()` states:

    Some variants mention `EINVAL` as a possible error code in such cases, though.

[2018-04-23 18:11] fabbione commented on #147
On 4/23/2018 7:42 PM, wferi wrote:

Yes me too ;)

the comment needs fixing. good catch.

that brings me to 2 bugs in handle.c:knet_handle_new_ex() where we call
log_* before _init_locks are done. Those needs fixing.

We clearly never saw the issue at runtime, but you are right, the code
order needs fixing.

Fabio

[2018-04-23 18:13] fabbione commented on #147
On 4/23/2018 7:42 PM, wferi wrote:

Another option to allow logging pre-lock init is to change the check in
logging.c to account for global config lock.

I´ll think about it, but feel free to propose how you would fix it and
we can figure out what´s best.

Fabio

[2018-04-24 03:20] fabbione commented on #147
On 4/23/2018 7:42 PM, wferi wrote:

I just figured out why we don´t see the problem at all in
knet_handle_new_ex. The lock is used only to access handle data such as
host_id, link_id, ip addresses that can change after handle_new and
needs a locking context. The 2 calls to log_* before init do not access
any of those data, hence they are safe to be called unlocked.

Either ways there are some thin

[2018-08-03 11:44] fabbione commented on #147
this should be addressed by https://github.com/kronosnet/kronosnet/pull/153

[2018-08-03 11:44] #147 closed, assigned to nobody

[2018-12-18 05:00] fabbione commented on #120
@wferi should we still do something about this or just drop it? (end of the year issue cleanup :P)

[2018-12-19 04:44] fabbione opened #181 "api/abi future breakage - best practise"
Hey Feri,

I am about to start breaking API/ABI in master. I can´t remember the best practices on "when" to bump the library soname from 1.0 to 2.0. Was that at the end of the development or early in the process? what is your recommendation here? Clearly nobody should be shipping master so from a packaging perspective it shouldn´t be a big issue but I am thinking about upstream in general.

thanks

[2018-12-19 09:46] wferi commented on #181
The [Libtool manual](https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html) advises that

The scenario to look out for is that you might have to bump the interface version in 1.x (for an ABI extension) before 2.0 is released. If you change the version info on the master branch now, you might forget to do it again after merging in the 1.x change. I think it mostly comes d

[2018-12-19 11:06] wferi commented on #181
By the way, what's the v1.90 tag for?

[2018-12-19 12:42] fabbione commented on #181
right now we do have one patch in master that breaks ABI so I know already we need to bump the soname. stable2 won´t happen for a long time, so i am perfectly fine to do it now or later. I think i´ll take @chrissie-c advice and bump it. I am not planning to bump it on each API/ABI change during a development phase, that would be just excessive. If you are using master you know what you are doing :

[2018-12-19 12:43] fabbione commented on #181
The v1.90 tag is an artifact to build rpms in CI with proper versions.

The 1.90 is associated to the master branch, so that each master rpm build will always have a version higher than the rpms built from stable1.* branches.

[2018-12-20 04:02] fabbione commented on #120
closing for now as it´s not strictly required, we can revisit in future if necessary

[2018-12-20 04:02] #120 closed, assigned to nobody

[2018-12-20 11:27] #181 closed, assigned to wferi

[2019-01-11 04:30] HideoYamauchi opened #194 "[Question] On the display of corosync-cfgtool."
Hi All,

Configure two nodes with the following settings.

[code]

When I run corosync-cfgtool on these two nodes, it is displayed as follows.
[code]

I understand that the display of "connected" shows Heartbeat (ping) communication.
As for the display of "enabled", as I saw the source code, apparently it seems to be 1 if it is own node, only if loopback can be set.

For the display of "enabled",

[2019-01-11 04:34] fabbione commented on #194
Hi @HideoYamauchi,

this would be best asked on the corosync project issue tracker, but I have added both Honza and Chrissie that should be able to answer your questions.

Cheers
Fabio

[2019-01-11 04:37] HideoYamauchi commented on #194
Hi Fabio,

Sorry, I thought so....

Many thanks,
Hideo Yamauchi.

[2019-01-11 04:39] fabbione commented on #194
Hi @HideoYamauchi,

no problem at all, we all work very closely together, I just don´t have an answer to that as I haven´t been working on corosync directly for a little while :)

Cheers
Fabio

[2019-01-11 08:08] jfriesse commented on #194
@HideoYamauchi I'm also not expert on knet integration layer (@chrissie-c is :) ), but I will try to reply as best as possible.

1. link status is basically one returned by `knet_link_get_status` and description is following:
- enabled - link is configured and admin enabled for traffic
- connected - link is connected for data (local view)

2. output is little misleading, because node number in `no

[2019-01-15 23:44] HideoYamauchi commented on #194
Hi Jan,

Thanks for your comment.
I will wait for Chrissie 's comment.

Best Regards,
Hideo Yamauchi.

[2019-01-18 08:52] chrissie-c commented on #194
We can certainly do better here. Translating the node index into a nodeid is not a trivial as it might sound but it is doable I think and would be a lot more useful.

The error message is a bug, of course, and should be fixed. I'll look into it.

[2019-01-18 12:38] chrissie-c commented on #194
Hmm that message should have been fixed with commit 137b31397cccd6d62d4042ca865b16e3eb6dcdae - do you still get it with the latest corosync?

[2019-01-20 23:18] HideoYamauchi commented on #194
Hi Chrissie,
Hi All,

Sorry...As you said, the latest version solved the problem.

For the enabled of corosync-cfgtool, man also has the following description.
I understood the display of the node as a specification.
(In case of own node, only one side should be displayed in enabeld = 1.)

[code]

We close this issue.

Many thanks,
Hideo Yamauchi.

[2019-01-20 23:18] #194 closed, assigned to jfriesse, chrissie-c

[2019-01-21 08:35] chrissie-c commented on #194
Great, thanks for letting me know. I have a patch for corosync-cfgtool to print nodeids instead of node index numbers which I'll send as a PR shortly - it makes much more sense. Thanks for pointing this out

[2019-01-21 22:59] HideoYamauchi commented on #194
Hi Chrissie,

When nodeid is displayed, it becomes very easy for the user to understand.
Thank you for considering the correction.

Best Regards,
Hideo Yamauchi.

[2019-04-30 10:47] Fabian-Gruenbichler opened #218 "possible regression when faced with storm of cpg_mcast_joined messages"
Background information:

We develop and heavily rely on a distributed config file systems implemented on top of corosync/libcpg/.. 2.x and are currently evaluating Corosync 3.x with knet. Our file system has an internal state machine that is responsible for keeping all nodes view of the contents in sync.

On initial startup, the following sequences happen:

1. cpg_confchg callback gets called
2. n

[2019-04-30 12:25] Fabian-Gruenbichler commented on #218
some more information:

starting corosync first, waiting for quorum, and then starting the test script with 2 4096byte responses instead of 1 also triggers the link flapping with knet, but also runs into the 100 retries limit with udpu.

once the link flapping is induced even with the test program being finished/stopped corosync is unable to recover on its own without a full stop of all running co

[2019-04-30 12:37] fabbione commented on #218
@Fabian-Gruenbichler for the record (from IRC) can you please repeat the test with debug logging turned on and attach the logs?

Thanks
Fabio

[2019-04-30 13:05] Fabian-Gruenbichler commented on #218
[knet.log](https://github.com/kronosnet/kronosnet/files/3131324/knet.log)
[udpu.log](https://github.com/kronosnet/kronosnet/files/3131333/udpu.log)

[2019-04-30 13:37] Fabian-Gruenbichler commented on #218
[code]

(or transport udpu)

[2019-04-30 13:55] Fabian-Gruenbichler commented on #218
as requested, `corosync-cfgtool -s`:

[code]
(nodes 29-34 are not part of this test run)

[2019-05-01 04:56] fabbione commented on #218
@chrissie-c

Followup from IRC, the udp error queue flushing appears to be fine here. Regardless, I opened this PR to improve the UDP error reporting:

https://github.com/kronosnet/kronosnet/pull/219

Example:
May 01 06:55:08 debug   [KNET  ] udp: Received ICMP error from 192.168.10.2: No route to host 192.168.10.4

Also, the accumulation of "No route to host" messages is simply an async effect on

[2019-05-02 04:05] fabbione commented on #218
One minor piece of information.

I have been testing in a much reduced environment, 4 VMs on top of one hypervisor for about 24 hours, running cpg_bench on all 4 nodes. There was only one link flapping from one node recorded in the log and it correlated with the host (laptop) performing a CPU throttle due to overload and VMs overcommit.

@Fabian-Gruenbichler I have tried to run your cpg_test and i

[2019-05-02 08:27] jfriesse commented on #218
@Fabian-Gruenbichler During holidays I've remembered report by Xen guy where corosync had quite similar symptoms and these disappeared when running without RR prio. Would you mind to give it a test? (to make corosync non RR scheduled add
[code]
to corosync.conf).

[2019-05-02 11:14] Fabian-Gruenbichler commented on #218
On Wed, May 01, 2019 at 09:05:14PM -0700, Fabio M. Di Nitto wrote:

yes, it is supposed to mimic the load spike generated by our actual code
when cold-starting a cluster. it is supposed to only generate messages
when joining the CPG, so it only generates a lot of load if the CPG has
lots of members (here, problems start at around the 25 member mark, and
it starts to fall apart at about 30 members)

[2019-05-02 11:51] Fabian-Gruenbichler commented on #218
On Thu, May 02, 2019 at 08:27:30AM +0000, Jan Friesse wrote:

that seems to prevent the link flapping, and the cluster is instantly
back to working order after the load spike. still not able to handle the
load spike unfortunately..

[2019-05-07 12:16] jfriesse commented on #218
@Fabian-Gruenbichler because I wasn't able to get enough machines to reproduce the bug, could you please try:
https://github.com/kronosnet/kronosnet/tree/threads-prio
and https://github.com/jfriesse/kronosnet/tree/threads-prio-rt-max with `sched_rr: no` (they should behave same) and https://github.com/jfriesse/kronosnet/tree/threads-prio-other with `sched_rr: yes`?

Theory is, that first 2 branche

[2019-05-08 09:54] Fabian-Gruenbichler commented on #218
On Tue, May 07, 2019 at 05:16:49AM -0700, Jan Friesse wrote:

no link flapping, looks identical to unpatched sched_rr: no

no link flapping, looks identical to unpatched sched_rr: no

link flapping under stress, no recovery once test script is killed

seems like the opposite is true? maybe more of the knet threads need to
have their scheduling changed to make a difference?

here are the values for

[2019-05-08 11:48] Fabian-Gruenbichler commented on #218
On Tue, May 07, 2019 at 05:16:49AM -0700, Jan Friesse wrote:

and, since @fabbione asked for it on IRC, I repeated the tests with the
following on-top to include the heartbeat thread as well:

[code]

results are identical to my last comment for all three test branches,
except with one additional thread with changed policy/prio values if
course.

[2019-05-09 16:44] jfriesse commented on #218
@Fabian-Gruenbichler Yes, results are quite opposite than I've expected:) I'm not entirely sure why, because udpu (so single thread @ RR) works, but knet works only when main corosync thread is not RR, no matter what knet threads prio is. I'm out of ideas right now, but I'm pretty sure I will get some new.

[2019-06-04 03:41] fabbione opened #226 "new openssl in debian unstable causes make check-memcheck failures"
Hey Feri,

just for your information, last week the CI nodes got a new version of openssl:

https://ci.kronosnet.org/job/update-all-apt-unstable/296/update-all-apt-unstable=debian-unstable-x86-64/console

08:12:10 Unpacking libssl1.1:amd64 (1.1.1c-1) over (1.1.1b-2) ...

that is cause havoc with valgrind:

https://ci.kronosnet.org/view/knet/job/knet-build-all-nonvoting/1108/knet-build-all-nonvotin

[2019-06-06 10:44] wferi commented on #226
For now I [forwarded](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=930061) this to the Debian OpenSSL maintainers, they are surely better equipped than me to track down the responsible OpenSSL commit or point out the possible application error.

[2019-06-07 05:08] wferi commented on #226
See https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=930061#12 for the diagnosis.

[2019-06-07 06:29] fabbione commented on #226
@wferi ok, so should we wait for a new openssl package in Debian or just ignore?

For the RAND_add(), I have no strong opinion, feel free to open a PR for that. It was added following the openssl examples/docs.

[2019-06-08 08:02] kloczek opened #228 "1.9: build fails"
<pre>Making all in kronosnetd
make[2]: Entering directory &apos;/home/tkloczko/rpmbuild/BUILD/kronosnet-1.9/kronosnetd&apos;
gcc -DHAVE_CONFIG_H -I. -I..  -I../libnozzle -I../libknet  -O3 -ggdb3 -Werror -Wall -Wextra -Wno-unused-parameter  -O2 -g -pipe -Wall -Werror=format-security -Wp,-D_FORTIFY_SOURCE=2 -Wp,-D_GLIBCXX_ASSERTIONS -fstack-protector-strong -grecord-gcc-switches -specs=/usr/lib/rpm/

[2019-06-08 08:13] fabbione commented on #228
Hi,

https://github.com/kronosnet/kronosnet/blob/master/NOTES_TO_PACKAGE_MAINTAINERS

kronosnetd is currently not supported and the build is fixed in the master branch.

Thanks
Fabio

[2019-06-08 08:13] #228 closed, assigned to nobody

[2019-06-08 08:24] kloczek commented on #228
OK. Thx.

Nevertheless it is even more issues (just FTR):
<pre>[tkloczko@domek kronosnet-1.9]$ make -k
make  all-recursive
make[1]: Entering directory &apos;/home/tkloczko/rpmbuild/BUILD/kronosnet-1.9&apos;
Making all in init
make[2]: Entering directory &apos;/home/tkloczko/rpmbuild/BUILD/kronosnet-1.9/init&apos;
make[2]: Nothing to be done for &apos;all&apos;.
make[2]: Leaving directory &apos;/ho

[2019-06-08 09:28] fabbione commented on #228
kronosnetd needs a complete full rewrite. It was born as a PoC to show case libknet but it is badly designed etc. etc.

If you are planning to use it, then you probably want to consider starting from scratch rather than spending time fixing the current code base.

From an upstream perspective I didn't give up on the idea to start a rewrite but right now time is tight and I am spending time polishi

[2019-06-11 14:07] fabbione commented on #226
this is now fixed/overridden in knet till openssl maintainers will report a proper fix upstream

[2019-06-11 14:07] #226 closed, assigned to wferi

[2019-06-25 13:59] jfriesse opened #234 "Consider adding ability to flush TX queues"
"Clone" of https://github.com/corosync/corosync/issues/486, already discussed on IRC. Low prio.

The idea is to add ability to flush TX queues ether by library calling function or automatically (idea of flushing buffers on `knet_handle_setfwd(..., 0)` call).

[2019-06-29 04:39] fabbione commented on #234
Fix is now merged into stable and it will be part of the next release.

[2019-06-29 04:39] #234 closed, assigned to fabbione

[2019-07-03 06:45] alexmurray opened #237 "Multiple Coverity scan defects"
During a code audit of kronosnet (https://bugs.launchpad.net/ubuntu/+source/kronosnet/+bug/1811139), the Ubuntu security team ran a Coverity scan analysis of kronosnet as packaged for the current Ubuntu development release (https://launchpad.net/ubuntu/+source/kronosnet/1.8-2) - this identified a number of possible buffer overruns, and similar issues which could be encountered under various error

[2019-07-03 07:52] jfriesse commented on #237
@alexmurray Thank you for the report! Would you mind to retest with current stable1-proposed branch, because there are some fixes already included, see pr #221, #222,, #224 ?

[2019-07-04 00:29] alexmurray commented on #237
Done - see attached

[coverity.txt](https://github.com/kronosnet/kronosnet/files/3357193/coverity.txt)

[2019-07-04 03:05] fabbione commented on #237
@alexmurray Hey, thanks for taking the time to report this issue. Could you please also provide the options you guys use to run coverity and what version of coverity?

@chrissie-c did fix a lot of the coverity issues we discovered, but a lot of them were false positive (aka we fixed only real bugs).

It might be very useful to align the tests and filter the noise.

Thanks!
Fabio

[2019-07-04 04:49] alexmurray commented on #237
Sure - this was done on an up-to-date Ubuntu 18.04 host with the Coverity analysis tools version 2019.03 as follows:

[code]

(probably the cov-build invocations around autogen.sh and configure are not strictly necessary)

[2019-07-17 04:35] fabbione commented on #237
Just an update on this issue, we are currently setting up github <-> travis-ci <-> coverity scan CI to make sure to receive reports on each merge.

Some of the bugs are trivial to fix, many can be ignored as they only affect the test suite.

I'll focus to fix the ones in the "real" code in the first pass and slowly address the others as time allows.

[2019-07-18 13:45] fabbione commented on #237
https://github.com/kronosnet/kronosnet/pull/240 will address all the most serious issues reported by coverity scan and will be included in the next stable release once approved and merged.

[2019-07-26 13:07] #237 closed, assigned to nobody

[2019-07-26 13:08] fabbione commented on #237
All but the doxyxml.c coverity errors have been addressed. The doxyxml.c will be fixed at a later stage. the tool is used only at build time to generate man pages and has no runtime effect.

[2019-07-27 05:15] fabbione commented on #218
Hey guys,

was there any progress debugging this issue? are we still experiencing it?

[2019-07-29 06:04] Fabian-Gruenbichler commented on #218
we kind of worked around it on the corosync/cpg side:
https://github.com/corosync/corosync/pull/466
https://github.com/corosync/corosync/pull/468

this avoids the cpg_mcast_joined torrent in our application, so we don't run into this issue anymore.

[2019-07-29 06:13] fabbione commented on #218
Ok perfect. I'll keep this issue open for another couple of weeks in case somebody is experiencing similar issues and then close it.

[2019-07-29 13:49] ifastnet opened #241 "pmtud: Aborting PMTUD process: Too many attempts. MTU might have changed during discovery"
Hi,

Hopefully im in the right place.

We have moved from corosync version 2 to version 3, this uses kronosnet.  On version 2 we had now issues, version 3 we cant get 2 nodes to talk to each other.

We use infiniband in connected mode, and the mtu is then 65520.

ibp4s0d1: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 65520

when trying to start corosync, both nodes after only a second start spa

[2019-07-29 15:53] fabbione commented on #241
HI Kevin,

Interesting to see an interface with MTU higher than 64K. knet definitely does not support that out of the box. When we first implemented PMTUd, we looked at kernel code and 64K was an upper limit at the time.

A few things:

1) what exact version of knet / corosync are you deploying? I have several distro available for debugging, but I need precise information.
2)  please try to enable

[2019-07-29 15:55] fabbione commented on #241
3) I meant corosync.conf :)

[2019-07-29 16:20] fabbione commented on #241
clearly I didn't have enough coffee today... :) 65520 is < 64K.. sorry about that.

[2019-07-30 06:02] fabbione commented on #241
Hi Kevin,

I think I was able to reproduce the problem without infiniband but I really need to see the logs and corosync.conf to confirm it and provide you with a workaround while we fix the code.

Thanks
Fabio

[2019-07-30 14:04] ifastnet commented on #241
Hi Fabio,

We all have them lack of caffeine days :) and thanks for checking this, answers to the above questions

1)
corosync                             3.0.2
libknet1:amd64                       1.10

2) debug logs are here : https://pastebin.com/Xjx44LDH

3) https://pastebin.com/hv3SkiQb is how it is currently

4) I might be able to do that, but it would need some planning (other traffic runs

[2019-07-30 14:09] ifastnet commented on #241
4) decided to quickly poke a lower mtu on just 2 nodes to 64000, then restarted corosync,  we got 2 member !

Membership information
----------------------
    Nodeid      Votes Name
0x00000001          1 10.1.100.1 (local)
0x00000002          1 10.1.100.2

so the mtu > 64000 does indeed seem to trigger this

[2019-07-30 14:13] fabbione commented on #241
thanks for the super fast response, logs and etc.

It's the same bug I can reproduce here.

You have 2 options to workaround the issue while I fix the code:

1) reduce the MTU
2) disable crypto in corosync

I was told on IRC that you are using proxmox and @Fabian-Gruenbichler strongly discouraged to disable crypto as workaround :)

I'll let you choose the less evil workaround for now.

I already a

[2019-08-02 09:43] Fabian-Gruenbichler commented on #241
packages with #242 included are available on pvetest:
[code]

see https://pve.proxmox.com/pve-docs/pve-admin-guide.html#sysadmin_package_repositories for help on how-to setup the pvetest repository (and don't forget to remove it again after installing the above packages).

[2019-08-02 13:05] fabbione commented on #241
The patches have been merged into master. If @ifastnet could test the packages provided by @Fabian-Gruenbichler i am ready to cut a 1.11 stable release with those fixes in.

Thanks
Fabio

[2019-08-06 04:26] fabbione commented on #241
@ifastnet did you have any chance to test those packages?

[2019-08-13 01:36] chibi0815 commented on #241
Had the same issue (but working cluster as the IB network was an additional link) and the libknet (nozzle wasn't installed) upgrade indeed fixed this after a corosysnc restart.
So by all means upgrade the non-test packages.

Thanks,
Christian

[2019-08-13 04:04] fabbione commented on #241
HI @chibi0815 , thanks for the feedback, the final fix is on its way to a release.

[2019-08-21 04:32] fabbione commented on #241
Final fix is merged in the stable branch. Expect a release today or tomorrow (once CI has done its job)

[2019-08-21 04:32] #241 closed, assigned to nobody

[2019-08-24 08:14] wferi opened #247 "website: no support for TLSv1.2 (and other problems)"
Trying to connect to the project page from Debian buster (current stable):
[code]
I think this is because the OpenSSL system default enforces TLS 1.2 as a minimum. The SSL Labs checker [gives](https://www.ssllabs.com/ssltest/analyze.html?d=kronosnet.org) the website an F grade for an unrelated reason, but protocol support is a serious issue there as well. Please consider correcting these.

[2019-08-25 15:33] fabbione commented on #247
Hey @wferi yes we are aware of the problem. We need to do a full upgrade of the machine, but last time we attempted the upgrade, mailing lists and postfix broke badly.

Thanks for the report tho. It's nice to see an active community :)

Fabio

[2019-08-30 16:09] jirib opened #249 "[RFE] musl support"
According to Void Linux guys kronosnet libs do not work with musl libc. If it would work with musl, kronosnet could be ported to many more linux distros like Alpine Linux, Void Linux musl variant etc...

See https://github.com/void-linux/void-packages/commit/d1a69567dccbb59a9214d7435c48f417b29ab99b#diff-bfafaa3d2780522d6324891ded01970dR22

See https://wiki.musl-libc.org/compatibility.html

[2019-08-30 17:38] fabbione commented on #249
Hi @jirib,

thanks for your report. I simply don't have the time to do porting to other libc other glibc. I am more than happy to evaluate patches and merge them to expand the support, but I don't have the bandwidth to do it myself.

I'll keep the issue open but if there are no takers or more demand, i'll probably close it in a few months.

Thanks
Fabio

[2019-09-02 12:14] jfriesse commented on #249
Knet fix sent. Sadly it is really not enough to get good support of musl for cluster stack. LibQB for void linux as compiled now  is using sections for logging. This very problematic feature is now fixed in LibQB upstream. So to get proper support I would recommend to change libqb from latest released version to git version, otherwise corosync would crash. With upstream libqb, corosync seems to wo

[2019-09-03 10:13] fabbione commented on #249
@jfriesse has provided a patch and it's now merged for the next stable release.

[2019-09-03 10:13] #249 closed, assigned to nobody

[2019-09-04 22:41] jirib commented on #249
Thank you.

[2019-09-17 09:48] fabbione commented on #247
this should be solved now. the machine has been upgraded to a more recent Debian 10.. let's cross fingers :)

[2019-09-17 09:48] #247 closed, assigned to nobody

[2019-09-17 10:56] wferi commented on #247
Thanks, Fabio, it's indeed much better now! The server sends its certificate twice, which doesn't seem to cause any problems, but the SSL Labs checker mentions it and it would be trivial to fix if you feel like so.
Regards,
Feri.

[2019-09-17 11:28] fabbione commented on #247
Do you have a URL to this ssl lab checker? I have no idea why apache2 would send it twice. I am still tweaking some of the configs of the smaller bits

[2019-09-17 11:40] fabbione commented on #247
Actually, since this is a debian stock apache2, maybe you have some suggestions on how to tweak directly... ?

[2019-09-17 11:52] wferi commented on #247
I linked to it in the original report.

My guess is that the site `SSLCertificateChainFile` contains the server certificate as well, and it is also given as `SSLCertificateFile`. Or it's simply present twice in the chain... Nothing Debian specific here as far as the Apache directives are concerned, though Debian has an elaborate snippet include structure set up to ease vhost maintenance.

[2019-09-17 11:55] fabbione commented on #247
On 17/09/2019 13.52, wferi wrote:

ok cool, I missed it :)

I'll take a look. I think it's the script i am using to gather the
certificates from Let's encrypt that might do that...

as for the configuration snippets I know... there might still be my name
somewhere in apache and apache2 debian changelog :P I am just too rusty
to remember those bits ;)

Fabio

[2019-09-17 12:06] aderumier opened #255 "isolated corosync node after an ingress flood, with "rx: Source host x not reachable yet" loop"
libknet version : v1.11
corosync version: 3.0.2

Hi,
I'm trying to reproduce proxmox users bug with corosync3/knet,  and I'm able to reproduce a bug, when a corosync process is stuck and need to be restart to join the cluster again.

The test is a small 3 nodes.
I launch an iperf from node2 to node3, saturating the rx link of node3.
Then I have a lot of retransmit and others logs.
I'm stopping the

[2019-09-17 13:22] wferi commented on #247
Your name is absolutely on the changelog! :)

[2019-09-17 14:48] jfriesse commented on #255
@aderumier Thank you for the report. Specially "foreign message in operational state" seems to be quite scary. I'll try reproduce in-house a let you know.

Are you able to reproduce same issue with only two nodes?

[2019-09-17 20:37] aderumier commented on #255
I'll do test with 2 nodes. (with 3 nodes, I can reproduce easily, so if you need more infos,logs,... don't hesitate to ask me)

[2019-09-17 22:08] aderumier commented on #255
I have done some test with 2 nodes, and I can't reproduce it for now. (I'll do more test tomorrow).

I have done another test with 3 nodes (same test), and this time I had another bug, with corosync process stuck at 200% cpu on node3 (no more log).

I have done a gdb bt full of the process:
[code]

[2019-09-17 22:58] aderumier commented on #255
another test with same corosync 200% bug  (The difference vs previous test is that secauth is on now, for both test with cpu stuck at 200%.  And secauth was off for test with "source host x not reacheable".
Not sure they are related.

here the backtrace

[code]

[2019-09-18 02:11] fabbione commented on #255
On 17/09/2019 22.37, alexandre derumier wrote:

Hi Alexandre,

thanks a lot for taking the time to report and help debugging this issue.

could you please enable debug logs and send us the full logs from
corosync starting to corosync hanging for all 3 nodes?

Thanks
Fabio

[2019-09-18 03:39] fabbione commented on #247
ahhhhh I think I figured out why you get 2 certificates.. some vhosts are not linked to letsencrypt, but  they use self-signed certificates. I assume apache is sending both certificates to the clients, so that the client can pick the one it likes the best.

I'll slowly fix that over the next couple of days, it was planned regardless.

Also, we are now grade A :)

[2019-09-18 05:43] aderumier opened #256 "corosync segfault"
Not sure it's related to my other problem, but I'm also able to reproduce segfault sometimes.
(proxmox users also have reported them https://bugzilla.proxmox.com/show_bug.cgi?id=2326)
I have able to reproduce it this night, also using iperf from node2 to node3,
after some time corosync on node3 segfault.

[fdata.gz](https://github.com/kronosnet/kronosnet/files/3624594/fdata.gz)

[core.corosync.0.c

[2019-09-18 05:53] fabbione commented on #256
Hi @aderumier, can you please provide information on what version of knet and corosync are installed on the system? are you aware if proxmox is applying any distribution specific patches or is it clean code from upstream?

Thanks
Fabio

[2019-09-18 06:03] jfriesse commented on #256
@aderumier Could be related. Let my try to reproduce it and will see. Problem with this bug is, that it really needs reliable reproducer because logs/coredumps are not super helpful because they ether have not complete information (logs) or have only one point in time (coredump).

[2019-09-18 06:03] aderumier commented on #256
corosync 3.0.2 , libknet 1.11
I think they are some patches on corosync:

https://git.proxmox.com/?p=corosync-pve.git;a=tree;f=patches;h=cf2d02d843a1a8946887d0c9ffeab8117fe08187;hb=HEAD

https://git.proxmox.com/?p=kronosnet.git;a=tree

Here the logs for 3 nodes, on last 10 minutes
[node1.log](https://github.com/kronosnet/kronosnet/files/3624650/node1.log)
[node2.log](https://github.com/kronosnet/k

[2019-09-18 06:18] aderumier commented on #255
here the logs for first test between Sep 17 13:30  -> Sep 17 13:42

[node1.log](https://github.com/kronosnet/kronosnet/files/3624702/node1.log)
[node2.log](https://github.com/kronosnet/kronosnet/files/3624704/node2.log)
[node3.log](https://github.com/kronosnet/kronosnet/files/3624705/node3.log)

[2019-09-18 06:23] jfriesse commented on #255
@aderumier Could you please share what `iperf` parameters were you using?

[2019-09-18 06:25] aderumier commented on #255
the log for second test between Sep 17 13:47 -> Sep 17 13:59

[node1.log](https://github.com/kronosnet/kronosnet/files/3624713/node1.log)
[node2.log](https://github.com/kronosnet/kronosnet/files/3624714/node2.log)
[node3.log](https://github.com/kronosnet/kronosnet/files/3624716/node3.log)

[2019-09-18 06:29] aderumier commented on #255
node2 client:
iperf -P 2 -c 10.59.100.233 -t 10000 -b 1000mb

node3 server:
iperf -s

(can reproduce with udp too, -u)

(This is on gigabit link, on an old cisco 2960 switch. I need to reach around 900-950mbits to have retransmist and other errors)
Don't have looked yet at switch buffer and logs.

[2019-09-18 07:19] jfriesse commented on #255
@aderumier Thank you for the info. I'm not able to reproduce single packet loss when using iperf tcp mode - but that may be switch configuration. I'm able to reproduce lots and lots of lost packets when using "-u", but till now I was unable to reproduce behavior described in first comment. When iperf load ends everything returns back to normal. I'll try secauth on and see what will happen.

In the

[2019-09-18 07:21] jfriesse commented on #255
@aderumier Ha, reproduced the issue from first comment.

[2019-09-18 08:06] fabbione commented on #247
I just dropped all the snake oil certificates and somehow apache2 is still sending a self-signed extra certificate.. if you have any idea on how to find it, I am all hears :)

[2019-09-18 08:09] aderumier commented on #255
yes sure, no problem. I'll try to build it and test tomorrow.

[2019-09-18 11:20] aderumier commented on #256
here a new segfault, with corosync master + libknet 1.1

[bt-full.txt](https://github.com/kronosnet/kronosnet/files/3626008/bt-full.txt)

[core.corosync.0.c55a1abe64634566b5a111658686da55.981293.1568804386000000.lz4.gz](https://github.com/kronosnet/kronosnet/files/3626013/core.corosync.0.c55a1abe64634566b5a111658686da55.981293.1568804386000000.lz4.gz)
[fdata-2019-09-18T12:59:46-981293.gz](https://

[2019-09-18 12:43] fabbione commented on #247
AFAICT the 2nd certificate is generated by Let's Encrypt itself but it is self-signed. all different browsers and clients (for other services) we have tried are not reporting any issue.. at this point I am happy with the current configuration, and still welcome suggestions for improvements.

[2019-09-19 02:50] fabbione commented on #256
This is the same problem as #255. We have been able to reproduce the issues in house and we are debugging the code right now.

[2019-09-19 02:53] fabbione commented on #255
Just an update on the current debugging session:
- both @jfriesse and I are able to reproduce the issues in house
- so far it appears to be a memory corruption issue of the link structure that holds all the connection
  information between node X and node Y
- both the hangs and the crash are related to random corruption of this structure, same source,
  different outcome, depending which part of t

[2019-09-19 05:28] fabbione commented on #255
@jfriesse I am fairly confident I found the bug, the temporary patch is on eric and I am currently running long term tests. The patch "only" addresses the corruption that leads to crash and hung, but we still need to work out how to make corosync+knet more stable on network overload. This might be a tuning exercise tho.

[2019-09-19 07:18] fabbione commented on #255
@aderumier can you please test in your environment with this patch applied?
https://github.com/kronosnet/kronosnet/commit/93f3df56ce1008c362df679b2768edbf2e5a860a
It should fix the crash and the hung.

Thanks
Fabio

[2019-09-19 07:43] #256 closed, assigned to nobody

[2019-09-19 07:43] fabbione commented on #218
No more info received. Closing for now.

[2019-09-19 07:43] #218 closed, assigned to nobody

[2019-09-19 11:32] #255 closed, assigned to nobody

[2019-09-19 12:05] aderumier commented on #255
Hi, I have tested the patch, seem to work, I can't reproduce after 2h of testing :)

Thanks again for your fast reponse and fix !

(patch has been applied to proxmox repo, so proxmox user will test it soon. If something bad is reported, I'll try to report it again)

[2019-09-19 12:20] wferi commented on #247
Well, I can't see self-signed certificates in the chain, and never did. Maybe we're looking at different things? For me:
[code]
So, it's just that the server certificate is sent twice. As far as I understand it, Apache concatenates `SSLCertificateFile` and `SSLCertificateChainFile` and sends the result. Is there only a single certificate in both of those files? Maybe they come from different scope

[2019-09-19 13:03] fabbione commented on #247
@wferi oh I see, the ChainFile contains both certificates, I have tried to remove the duplicate and some clients did complain about it. Between the 2 evil, I prefer to send 2 certificates.

The SSL test reports about a second certificate that is self-signed by the host and yet generated by Let's encrypt. There are a few warnings about it, but no errors.

For the forward secrecy I followed this gui

[2019-09-28 11:35] aderumier opened #261 "another differents segfaults (libknet 1.12)"
Hi,

some proxmox users still have corosync segfault (seem different than link bug)

Here a coredump back trace (libknet 1.12),

This look like some other coredump we have here:
https://bugzilla.proxmox.com/show_bug.cgi?id=2326

The common error is
"      group_name = 0x7fe26e160857 <error: Cannot access memory at address 0x7fe26e160857>"

[code]

[2019-09-28 11:40] ThomasLamprecht commented on #261
IIRC, the stack trace is on the exact same place the older coredumps from one to two weeks ago happened..
So maybe the fix for the off-by-one link nr did just lower that chance for this to happen?
(As we had people report that it got definitively better with that fix)

[2019-09-28 15:22] fabbione commented on #261
I am on vacation for the next 10 days. Jan might be able to start looking at it on Monday or soon.

Can you please:

1) provide the logs before the segfault (what is the cluster doing)?
2) try to switch (for testing) to udpu (instead of knet). This will at least tell us if the issue is in knet or corosync itself.
3) do we have a reproducer? how do you trigger the issue? is it always reproducible?

[2019-09-30 05:08] ThomasLamprecht commented on #261
OK, thanks for the headsup, have a nice one!

I'll try to convince some people to change this.

No worries, never thought that this was the case. Would just be to great if one bug-fix would ~~rule~~ solve them all.

[2019-10-03 05:48] aderumier commented on #261
not sure it's related, but running corosync with valgrind, and doing the iperf load test,

I'm seeing a lot of

[code]

(and I'm seeing the corosync process memory usage slowly growing)

[2019-10-03 07:16] jfriesse commented on #261
@aderumier yep, it is know issue, but it is not a problem. Memory is not zeroed, but all required fields are properly set, so this warning is kind of "false" one.

corosync memory usage is slowly growing after startup but it will eventually stop (or at least should stop, of course there may be memleak, but I believe we've fixed all of them).

[2019-10-03 09:44] jfriesse commented on #261
@aderumier, @GamerSource Would it be possible to test corosync/corosync#503. It's not intended to solve the problem but it may help us to find out if bug is really that corosync receives short messages (shorter than expected) or some other bug somewhere else.

[2019-10-03 10:14] jfriesse commented on #261
Good news everybody, I was able to reproduce "some" issue with two nodes, running `cpgbench` in cycle. Together with corosync/corosync#503 I was able to get following message (and assert):

[code]

So 45 bytes was lost somewhere. Ether on sending or receiving side. I'll retry with udpu and see if it makes any difference (reproducer is not yet super reliable, sometimes it takes 20 runs, sometimes 2

[2019-10-03 10:39] ThomasLamprecht commented on #261
I'll try to check out corosync/corosync#503 and great that you could reproduce something.

[2019-10-03 11:46] jfriesse commented on #261
Ok so udpu looks rock solid (>1 hour of testing). So my theories for now are:
- pmtud
- totempg which is (with knet) sending much larger packets

My plan is to implement support for `knet_handle_pmtud_set` - that is good thing anyway and it may tell us something.

[2019-10-04 06:09] fabbione commented on #261
@jfriesse, 2 areas to look into:
thread_tx.c: static int _parse_recv_from_sock(knet_handle_t knet_h, size_t inlen, int8_t channel, int is_sync)

this is the function that takes care of splitting the incoming buffer from corosync to onwire packet len and send it to the other nodes.

thread_rx.c: static void _parse_recv_from_links(knet_handle_t knet_h, int sockfd, const struct knet_mmsghdr *msg)
tha

[2019-10-04 08:28] jfriesse commented on #261
@fabbione Thank you for the hint! Yes, everything is more bright with reproducer, but sadly, that reproducer is really not ideal. It takes a while to reproduce and there are HUGE number of messages sent before problem appears so few printf doesn't help that much (tried it for totempg). Anyway, lets meet on Monday and maybe we find something.

[2019-10-04 10:43] jfriesse commented on #261
Just a progress update. I've found some weird issue in totempg which is nicely reproducible on sender side using valgrind so may be that problem is not in knet but really just totempg problem.

[2019-10-04 12:55] fabbione commented on #261
@jfriesse right, there is a lot of data, but we could potentially add a super minimal totem decoder in the knet TX/RX side to verify if the packet is complete before delivery from/to corosync.

This would at least isolate the problem further down.

Fabio

[2019-10-04 13:04] fabbione commented on #261
@jfriesse another idea is to use get_mtu (we have a callback in corosync IIRC) to tell totem not to send packets bigger than data mtu, that would skip the fragmentation / defragmentation code in knet completely since each packet from totem would fit inside a knet packet (modulo other bugs, but that we can assert with packet index > 1).

Fabio

[2019-10-07 07:58] jfriesse commented on #261
Ok so the valgrind nicely reproducible bug in totempg was actually my mistake in my debug code :( So back to not very fast reproducer.

[2019-10-07 11:02] jfriesse commented on #261
Ok, so I've added extra check - https://github.com/corosync/corosync/pull/503/commits/883c1217e69619d564f78521d5c714c56f218e91 . This patch breaks on-wire!!!! It basically stores msg_size which was used for sendmsg and checks number of received bytes on recvmsg side.

Reproducer is quite simple:
- 2 nodes
- on both nodes exec `while true;do ./cpgbench;done`

[2019-10-07 13:35] jfriesse commented on #261
Updated https://github.com/corosync/corosync/pull/503 contains fix for sending packet > 65536 https://github.com/corosync/corosync/pull/503/commits/b700144af9a589a50874f60c21aa1eac730d7a05 . During testing of this patch, I was able to hit `group_matches` problem, so https://github.com/corosync/corosync/pull/503/commits/b700144af9a589a50874f60c21aa1eac730d7a05 is not a solution but it fixes real pr

[2019-10-07 18:34] creolis commented on #261
Hey guys. I'm the OP of https://bugzilla.proxmox.com/show_bug.cgi?id=2326.
Since I now started follow the issue over here too, I thought I'd just inform you that
I switched to udpu as you suggested.

Before switching to udpu, we had daily crashes of corosync on 2 of our 4 proxmox cluster nodes,
now after switching to udpu, corosync is stable for 4 days and counting.

hope that helps :)

[2019-10-08 03:22] fabbione commented on #261
@jfriesse I left corosync running under valgrind all night, without cpgbench load:

=8037==
==8037== HEAP SUMMARY:
==8037==     in use at exit: 1,507,778,148 bytes in 23,881 blocks
==8037==   total heap usage: 21,954,770 allocs, 21,930,889 frees, 27,334,286,469 bytes allocated
==8037==
==8037== LEAK SUMMARY:
==8037==    definitely lost: 1,498,299,169 bytes in 22,697 blocks
==8037==    indirectly l

[2019-10-08 03:28] fabbione commented on #261
@creolis thanks for confirming that UDPU is not affected and thanks for taking the time to test.

[2019-10-08 03:48] fabbione commented on #261
[node2.valgrind.txt](https://github.com/kronosnet/kronosnet/files/3700581/node2.valgrind.txt)
[node1.valgrind.txt](https://github.com/kronosnet/kronosnet/files/3700582/node1.valgrind.txt)

totem {
    version: 2
    secauth: off
    cluster_name: demo
    transport: knet
    link_mode: passive
    interface {
       linknumber: 0
       knet_ping_interval: 200
       knet_ping_timeout: 5000
    }

[2019-10-08 04:07] fabbione commented on #261
One more data point, when running without valgrind and running cpgbench, I can see memory usage increasing much faster, specially when there are membership changes. AFAICT, each time there is a membership change, corosync starts using approx 10MB more memory (according to top).

and I see this in the logs (might be relevant to the reassembly code):
Oct 08 00:07:57 debug   [TOTEM ] fragmented conti

[2019-10-08 04:55] fabbione commented on #261
I am able to reproduce the leak also with valgrind. same condition, cpgbench running on both nodes and lots of membership changes, I dropped the knet_ping parameters from the config to speed up the instability and corosync is now using > 1.3GB of RAM. Waiting for it to explode sooner or later..

[2019-10-08 06:50] jfriesse commented on #261
@fabbione I'll take a look to the leak, but I think we've removed most of them with exception of some small which were almost impossible to remove.

[2019-10-08 19:27] Oinari commented on #261
How about sctp?

[2019-10-08 20:39] fabbione commented on #261
@Oinari I personally didn't test SCTP. If you have time to test that would be great tho I doubt it will make a huge difference.
So far we found a memory leak in corosync that is transport / protocol independent and we are still trying to find the root cause of the crash (that might or might not be related to the leak itself).

[2019-10-14 08:31] fabbione commented on #261
Just an update, we found the main problem and we are working on a fix.

The problem is located in the packet defragmentation code of knet, buffer reclaim logic.

While we prepare a proper fix, you can reduce totem net_mtu to a value lower than MTU detected from knet and you should experience no crash.

[2019-10-15 14:17] #261 closed, assigned to jfriesse

[2019-10-24 14:25] egypcio opened #269 "knet v1.13 (df4bdef) can't find libcrypto on FreeBSD"
The current state of `kronosnet` _v1.3_(f9c0a59) under **FreeBSD** is that the respective [port](https://svnweb.freebsd.org/ports/head/devel/kronosnet/) in our ports tree isn't able to build using its base system's **OpenSSL** on _12.0-RELEASE, 12.1-PRERELEASE or 13.0-CURRENT_ . We can build it on _11.3-RELEASE_.

In order to make `kronosnet` build and work, a few conditional [patches](https://svn

[2019-10-24 16:23] wferi commented on #269
Did FreeBSD stop supporting pkg-config with OpenSSL 1.1? That would be most surprising. Isn't this a bug in the OpenSSL 1.1 FreeBSD package or port (I don't know the correct term)? Did it perhaps switch to using a versioned pkg-config package name like `openssl-1.1`?

[2019-10-25 05:17] fabbione commented on #269
@wferi apparently they also ship a version of openssl from the BaseOS that is used to build the port/pkg and doesn´t have pkg-config files. configure started failing to detect it from BSD12 / 13 (used to work with overrides in 11. I suspect a behavior change in the autotool - pkg-config ability to detect the override when doing nested checks, but it´s not impossible to fix.

@egypcio I will only b

[2019-10-25 08:34] egypcio commented on #269
AFAIK, we never had that for OpenSSL that is present in our base system. It's only for those installed via ports or packages.

- 11.3-RELEASE (OpenSSL 1.0.2s)

[code]

- 12.0-RELEASE (OpenSSL 1.1.1a)

[code]

- 13.0-CURRENT (OpenSSL 1.1.1d)

[code]

[2019-10-26 06:19] fabbione commented on #269
@egypcio i see the problem here. Basically knet supports both openssl 1.0 and 1.1 that needs different coding around. On BSD11 you have openssl1.0 and 12+ is 1.1.
The pkg-config openssl determines the openssl version code to use and build. When we run without pkg-config, autotools+pkg-config finds openssl but it´s unable to determine the version and will default to 1.0, that fails to build BSD12+

[2019-10-26 06:43] fabbione commented on #269
@egypcio  https://github.com/kronosnet/kronosnet/pull/270 can you try this patch please?

I tested it on 12 and it was ok. CI is running for all other distros. I would appreciated a check on 11.

thanks
Fabio

[2019-10-27 11:26] egypcio commented on #269
@fabbione, hey! I cherry picked commit 04be484 and merged into our `kronosnet` port and it do work for 11, 12 and HEAD. awesome! it builds fine.

**openssl_CFLAGS** and **openssl_LIBS** were still used though; we definitely must override these ones _ONLY_ when we want to make sure our base system's **OpenSSL** `libcrypto` should be used during configure stage. Should we install extra OpenSSL packa

[2019-10-27 13:17] fabbione commented on #269
@egypcio thanks for testing, the final commit will make it into the next stable release. Can you please submit the libressl patch you have around in another issue?

Thanks
Fabio

[2019-10-27 14:08] fabbione commented on #269
merged into master and queued for next stable release

[2019-10-27 14:08] #269 closed, assigned to nobody

[2019-10-27 15:43] egypcio commented on #269
funny you mentioned it; I am testing the port without that patch right now. we might not even need it anymore after these last changes you applied on #270. I will report it back as soon as the testing is done.

thanks @fabbione and @wferi

[2019-10-27 16:31] egypcio commented on #269
reporting back: previous patch on **FreeBSD** used to make `kronosnet` build against **LibreSSL** is also no longer a need as well. now we can have it building using base system's `libcrypto` or any other version of it, from ports (including OpenSSL, or LibreSSL).

current version of the patch for FreeBSD's ports tree, and its bug report are [here](https://bugs.freebsd.org/bugzilla/show_bug.cgi?id

[2019-11-27 12:02] Onein opened #275 "connection issue with sctp"
I'm testing a 3 node cluster with corosync knet_transport sctp and for some reason this ends always in an very unstable state. When switching back to default udp the cluster immediately gets back into a stable state.

Current setup is a virtualised 3 node cluster running Proxmox as an OS (libknet 1.13), the cluster network is directly connected to a linux bridge with no firewall in between.

Start

[2019-11-27 12:12] wferi commented on #275
I'd recommend trying [Corosync 3.0.3](https://github.com/corosync/corosync/releases/tag/v3.0.3). It fixes a "serious bug which may result in corrupted packet during recovery phase".

[2019-11-27 12:15] fabbione commented on #275
@Onein thanks for the report. The message:

corosync[2032]:   [KNET  ] sctp: SCTP connect on 31 to 10.10.90.2 port 5405 failed: Protocol not available

is suspicious tho.

When you restart a node and the node cannot connect anymore, is sctp kernel module loaded at all?
If you modprobe sctp before corosync/knet is started, does it work?

Also, I agree with @wferi that you should use latest corosync

[2019-11-27 12:29] fabbione commented on #275
@Onein I can see the same error message if:
node1 has no sctp kernel module loaded
node2|3|4 will report:
Nov 27 07:26:40 info    [KNET  ] sctp: SCTP connect on 32 to 192.168.8.41 port 5405 failed: Protocol not available

node2|3|4 have sctp loaded and corosync is running fine.

There might be some other lurking issues with sctp, it´s not widely used. I´ll leave this issue open until we have a sta

[2019-11-27 12:45] fabbione commented on #275
there is definetely more than one problem to look into. Anyway I am working on it.. thanks a lot for the report!

[2019-11-27 12:53] Onein commented on #275
which commits from the .3 release are the ones you are referring to? I'm on our internal corosync version with some patches already cherry-picked.

Did another round with sctp:
Before restart of node 3
[code]
After reboot:
[code]
Added both syslogs from testnodetm1 & testnode3tm (the one rebooted) as an attachment.
The protocol not available error didn't reappear since yesterday, so had no chance

[2019-11-28 10:43] chrissie-c commented on #275
I'm wondering if this is a kernel problem. I tried the same corosync & knet code on RHEL-7 (kernel 3.10.0-1101.el7.x86_64) and it works fine. Yet when on RHEL-8 it fails frequently for me.

[2019-12-05 09:49] chrissie-c commented on #275
Looking into this in more detail, it seems to me that there are some serious problems with the SCTP code in knet and it needs some work to fix. I suspect it's only worked up to now by good luck and possibly amenable kernel bugs. In the meantime I can only recommend not to use SCTP. UDP is by far the better tested transport anyway.

[2019-12-18 05:09] fabbione commented on #275
All,

we now have a good understanding of the problem, also thanks to some amazing kernel guys :)

we are working on a fix and it will be available for testing as soon as possible.

Thanks
Fabio

[2019-12-18 18:21] fabbione commented on #275
All,

thanks to Xin Long from the Red Hat networking kernel team, we have a fix for knet. We are still investigating what kernel change triggered this SCTP socket behavior change.

i´ll merge the fix once we have a full explanation tho.

In the meantime, you can grab the fixes from here: https://github.com/kronosnet/kronosnet/tree/sctp-fixes

@wferi this might interest you as well. The changes are

[2019-12-19 13:13] ThomasLamprecht commented on #275
Nice! Patches look really simple, which makes one wonder even more what changed in kernel ^^

@Onein would you mind spinning up those and re-test, if you have the test environment still around? That'd be great.

[2019-12-19 13:17] fabbione commented on #275
There is one more patch coming today or tomorrow that fixes SCTP on BSD but it affects common code with Linux, but start testing is good.
The last patch I am working on is a bit more invasive (looks much bigger) but in reality doesn´t do that much ;)

[2019-12-19 13:24] fabbione commented on #275
actually if you give me 30/40 minutes to test the new patch on Linux, we can grab all 4 of them at once for bigger testing :)

[2019-12-19 13:38] fabbione commented on #275
done, if you guys can test with the latest code:

commit a3c3260ad08ebeb62a1f310de1fa128b700d2327 (HEAD -> sctp-fixes, origin/sctp-fixes)

that would be amazing.

[2019-12-19 14:49] Onein commented on #275
I will test it tomorrow, thanks!

[2019-12-20 05:05] fabbione commented on #275
FYI we might be landing this patch as workaround to unblock people, but please expect a slightly more invasive change coming. We are working closely with the SCTP kernel guys to improve the overall implementation in knet to be more solid and better handle SCTP sockets. Tho this might not happen before mid Jan next year.

Cheers
Fabio

[2019-12-20 14:31] Onein commented on #275
I did some testing today, but unfortunately not as exhaustive as I wanted, because I was busy with some other stuff. Long story short, after updating and switching to sctp again I rebooted one server which kept separated after reboot. Same setup as in my initial report and cherry-picked the patches from sctp-fixes on top of 1.13.

From the logs:
[code]
Will do more tests on Monday, wish everyone a

[2019-12-23 06:53] fabbione commented on #275
@Onein I just had a long conversation with the SCTP kernel maintainers and we need to do a major surgery in knet for the code to be sustainable in the long run, and that requires a completely different approach also on how we will configure SCTP. For compat reasons knet will mask those details but for now, please use UDP.

I'll ping you guys again when the code is ready for testing.

[2020-01-06 14:33] fabbione commented on #275
Just an update, we continue working on a fix (tho Xmas did slow down the process a bit ;)).

[2020-01-06 17:54] Onein commented on #275
thanks for the update and don't worry, Xmas probably slows down everyone equally :+1:

[2020-01-25 16:54] illustris opened #280 "unsigned integer underflow causing large timeouts in pthread_cond_timedwait"
For the past few days, @itihas and I have been investigating an issue with corosync locking up on a cluster we manage. There are multiple ways it manifests, one of which is the corosync process becoming unresponsive. Running `corosync-quorumtool` returns `could not initialize CMAP service`. Running `corosync-cmapctl` gets stuck. Other nodes are unable to reach this node, and mark it as down.
Looki

[2020-01-30 12:23] fabbione commented on #280
This should be fixed by: https://github.com/kronosnet/kronosnet/pull/281

[2020-01-30 12:23] #280 closed, assigned to nobody

[2020-01-30 15:10] fabbione commented on #275
Fixes for Linux are on the way: https://github.com/kronosnet/kronosnet/pull/284

[2020-02-03 06:33] fabbione commented on #275
Fix released in kronosnet 1.14

[2020-02-03 06:33] #275 closed, assigned to fabbione

[2020-02-07 05:15] fabbione opened #287 "stats gathering can cause PMTUd to never complete"
we discovered this issue while debugging @illustris environment.

In an environment with many nodes and many links, PMTUd can take a long time to complete (in the order of many minutes).
If any monitoring system is gather stats faster than PMTUd, PMTUd will be restarted on each data collection and never complete.

The restart is triggered by the need of a write lock around stats gathering (reverse

[2020-02-07 05:17] fabbione commented on #287
As a side note, I will be on vacation for 2 weeks with limited access to emails and such. @chrissie-c if the code is good, feel free to merge it around and we can do a release as soon as I am back.

[2020-02-22 06:22] fabbione commented on #287
New PMTUd patches for stable1 are available here: https://github.com/kronosnet/kronosnet/commits/stable1-pmtud

[2020-02-24 00:16] wferi opened #289 "Tests occasionally time out waiting for pongs"
Running `make -j16 check` in Kronosnet 1.14's `libknet/tests` in a loop occasionally fails. I struggle to reproduce it, but I happened to see it on ARM64 without root privileges: `api_knet_send_sync_test` (twice) or `api_knet_send_compress_test` (once) timed out; the logs show that "pongs" arrived sporadically or not at all in these cases (full logs attached):
[code]
[code]
[code]
I've got a log f

[2020-02-24 05:11] fabbione commented on #289
I have seen this happening only when the machine is under extreme CPU pressure and knet is not scheduled in time to send pings or pongs. make -j 16 could trigger that. I have also experienced similar issues in CI when the hypervisor is overloaded and VMs are not scheduled with make -j1

Not sure exactly what to do about it tho, this is an environmental issue rather than knet itself.

we could make

[2020-02-24 07:32] wferi commented on #289
I tried to increase CPU pressure by starting 16 `yes >/dev/null` processes in the background, but that didn't help reproducing the issue. Also, the tests themselves don't seem to create noticeable load even with `-j16`, basically they all finish long before `api_knet_send_sync_test` times out. On the other hand, I never managed to reproduce this by running `api_knet_send_sync_test` alone in a loop

[2020-02-24 07:35] fabbione commented on #289
Each test spawns its own handle and threads, they can´t interfere with each other at scheduling level, but I wouldn´t exclude a networking race somewhere. The logic that allocates the ports is not the strongest in the world (pid base) so there might be some collision there.
Tho it doesn´t match what I see from time to time in CI where we see the same problem with -j1 (except node loads)

[2020-02-24 07:43] fabbione commented on #289
Actually, it might just be port collision even with -j1.. another service might be listening on that port and that´s why we don´t receive the pings. I think it might be easier to debug by dropping FREEBIND and / BINDANY. That would return an error if the port is in use... at least it´s useful for debugging.

[2020-02-24 08:02] wferi commented on #289
You could just try using another port in that case. Sounds like an idea, though I don't see at the moment how this could result in receiving sporadic pongs. I've got full logs from the run that failed overnight (no pongs received, not attached above): `api_knet_send_compress_test` and `api_knet_send_sync_test` (which failed) both used port 10391 in that case. Let's see if that's an indication. BTW

[2020-02-24 08:08] fabbione commented on #289
Using another port is racy, specially because of FREEBIND / BINDANY:

- try to open a port without FREEBIND
- fail (maybe the IP doesn´t exist on the host yet)
- try another port
- fail again
- then what?

or..

- try to open a port without FREEBIND
- fail because port is in use
- try another port in loop
- find a port
- close the socket and reopen with FREEBIND (this could fail as the port might

[2020-02-24 13:33] wferi commented on #289
Nothing uses port 10391. But I've got more data now, and it says that if and only if `api_knet_send_sync_test` and `api_knet_send_compress_test` use the same port, `make -j16 check` fails.

[2020-02-24 13:35] fabbione commented on #289
so we have 2 tests sharing the same port number at the same time basically, do I understand you correctly?

if so we need a stronger port allocation policy, but still doesn´t fully explain the failures with make -j1 that could be cause by other services using the port the test is selecting....

[2020-02-24 15:08] wferi commented on #289
I suspect that, yes. Those two tests are both lengthy and towards the end, so with any parallelism around they can easily overlap. Not with `-j1`, of course.
Is `IP_FREEBIND` used to combat the `ifdown` test only? Does it enable local port reuse? I only read its documentation, haven't tested it.
Can't you use an automatic ephemeral port (specified as 0) for the tests instead of deriving one from t

[2020-02-25 05:48] fabbione commented on #289
the IP_FREEBIND combats 2 problems. one is the ifdown test, the other is a more generic race condition at system boot. systemd will return that the network is available when the first interface is configured. knet might be using multiple interfaces and as we know today kernel does init stuff async now, so you could endup with corosync/knet starting before all the network is configured.
At that poi

[2020-02-25 06:17] fabbione commented on #289
I just did a small test and at least for UDP sockets it is REUSEADDR that´s causing multiple knet to bind() to the same address port. meh..... so we need to drop REUSEADDR for UDP to get an error:
bind failed: Address already in use
and we need the test suite to be more robust in failing to configure links.

[2020-02-25 07:20] fabbione commented on #289
Started working on the fixes here:
https://github.com/kronosnet/kronosnet/tree/udp-fixes

[2020-02-25 08:56] fabbione commented on #289
port 0 won´t work for the bind() because you can´t "listen" on a random port. We will need some other approaches

[2020-02-25 09:47] wferi commented on #289
Right, this matches [common wisdom](https://www.freedesktop.org/wiki/Software/systemd/NetworkTarget/#whatdoesthismeanformeadeveloper): if you can't use a wildcard bind, IP_FREEBIND is a good choice. Especially that it doesn't allow port reuse. By the way, is using wildcard binds out of question? Do you require a separate UDP socket for each link?

That's indeed the case for TCP, but UDP doesn't se

[2020-02-25 10:37] fabbione commented on #289
On 2/25/2020 10:47 AM, wferi wrote:

knet can do both wildcard and per-ip, but having separate sockets allows
knet to allocate more buffers for each socket, you get better
performances in general at the cost of memory.

Correct and that´s already addressed in the new branch.

You can´t bind to port 0, it fails on the server side for the tests I did.

Fabio

[2020-02-25 11:03] fabbione commented on #289
So far I was able to find only 2 solutions:

1) attempt to bind()/close() before calling into knet_link_set_config, but this is racy
2) based on what @chrissie-c mentioned on IRC, that is each time we fail to knet_link_set_config
    with EADDRINUSE, we increment one port and try again. The only con here is that logs might get
    cluttered a bit during test execution and there is a fair amount of

[2020-02-25 12:53] wferi commented on #289
The attached [ephemeral.c](https://github.com/kronosnet/kronosnet/files/4250041/ephemeral.c.txt) can bind to ephemeral ports on Linux (with `SOCK_DGRAM` as well, without the `listen()`). Is it incompatible with some option Kronosnet uses, or did you encounter failures on BSD?
Option 1 is racy thus wouldn't help. Option 2 looks like the only way if the kernel-side port allocation is indeed impossib

[2020-02-25 12:57] fabbione commented on #289
On 2/25/2020 1:53 PM, wferi wrote:

thanks, I´ll check again with your PoC, maybe I made a mistake in my test.

Yes agreed for 2 vs 1.

Fabio

[2020-02-25 13:30] fabbione commented on #289
My bad, we can configure a link using port 0, but we are missing the code to update the local sockaddr to get the socket back (getsockname) and therefor sending packets will fail.

waiting host 1 to be reachable for 10 more seconds
[knet]: [debug] heartbeat: Unable to send ping (sock: 20) packet (sendto): 22 Invalid argument. recorded src ip: 127.0.0.1 src port: 0 dst ip: 127.0.0.1 dst port: 0

In

[2020-02-25 14:19] wferi commented on #289
Sure, it's a perfectly sensible approach. Thanks for letting me in with the details.

[2020-02-25 14:28] fabbione commented on #289
@wferi glad we agree on the approach, it´s always a pleasure to work with you!

[2020-02-26 06:53] fabbione commented on #289
I just added one PoC commit here https://github.com/kronosnet/kronosnet/commit/5afd3aa209db14cacd0d6e705c04c8e42135e14f

Please take a look before I port the whole test suite.

If I run 2 instances of api_knet_send_test in parallel, one gets port 1025 and 1026:

Attempting to use port 1025
Attempting to use port 1026
Test will use port 1026
.....

[2020-02-26 16:12] wferi commented on #289
Looks good to my eyes; I added a few comments/questions.

[2020-02-27 08:21] fabbione commented on #289
https://github.com/kronosnet/kronosnet/pull/291

[2020-02-28 10:31] fabbione commented on #289
Now merged into master and queued for next stable release (sometime next week)

[2020-02-28 10:31] #289 closed, assigned to nobody

[2020-02-28 10:31] fabbione commented on #287
Now merged into master and queued for next stable release (sometime next week)

[2020-02-28 10:31] #287 closed, assigned to chrissie-c

[2020-03-06 10:23] wferi opened #292 "Error waiting for packet: Success"
To quote the classics, such messages don't belong to anywhere, except maybe to Windows 95. Still one finds it in a [reproducible build report](https://tests.reproducible-builds.org/debian/rb-pkg/unstable/i386/kronosnet.html) of Kronosnet 1.15 (on i386):
[code]
I guess it's just an unexpected corner case in the error handling logic, but I can't investigate it right now.

[2020-03-06 11:39] fabbione commented on #292
@wferi LOL.. good reference. I´ll take a look. It´s probably just a small error in the test suite code.

[2020-03-09 08:39] fabbione commented on #292
https://github.com/kronosnet/kronosnet/pull/293

[2020-03-09 10:31] wferi commented on #292
Thanks! Now I wonder where that allocation error comes from...

[2020-03-09 10:32] fabbione commented on #292
@wferi how much RAM does the builder has?

in our CI it run smoothly on i386

[2020-03-09 11:05] fabbione commented on #292
@wferi also, knet does not do any runtime allocation directly. mallocs are all done at init time. There is no compression or crypto that could malloc at runtime during the knet_send_test that is failing. So my best guess is that the host is running out of memory and that the kernel is refusing to allocate a buffer to send the packet (SCTP internals probably, the UDP test is passing).

[2020-03-09 11:33] wferi commented on #292
I agree it's probably an in-kernel allocation failure, since we're past a full build after all... I suspect some SCTP-related internal limit, but I've got zero experience with SCTP, so this is a shot into the dark. It may also be related to running the tests without privileges (while that means smaller socket buffers, maybe a different limit applies, I don't know).

[2020-03-09 12:31] fabbione commented on #292
Original issue should be fixed now. @wferi please open another issue for the memory issue if you can figure out a reproducer.

[2020-03-09 12:31] #292 closed, assigned to fabbione

[2020-03-15 14:50] fabbione opened #295 "knet fails to build with newer gcc"
https://ci.kronosnet.org/job/knet-build-all-nonvoting/1453/knet-build-all-nonvoting=fedora-rawhide-x86-64/console

@chrissie-c this one looks a lot like the fix you did in libqb recently. Do you mind to take a look please?

[2020-03-16 15:19] #295 closed, assigned to chrissie-c

[2020-03-19 00:53] HideoYamauchi opened #300 "[Question] About corosync with sctp protocol on RHEL8.1."
Hi All,

We tried to check the behavior of corosync with sctp protocol on RHEL8.1.

We modprobe the sctp module on RHEL8.1 and tried to build a cluster with two nodes, but communication between the two nodes could not be established.

Looking at the next issue, it seems to work if you install kronosnet version 1.14, but will it work if you install 1.14 on RHEL8.1?

 - https://github.com/kronosnet/

[2020-03-19 06:15] fabbione commented on #300
@HideoYamauchi kronosnet in rhel8.1 does not contain the sctp fixes that are in 1.14.

You have 2 options:

1) if you are a Red Hat customer, please contact Red Hat support to request the fixes in rhel8.1.
2) if you are not a Red Hat customer you can install the 1.15 rpm from here:
    https://kronosnet.org/builds/ and it should work just fine, but without official Red Hat support.
    Eventually

[2020-03-19 08:13] chrissie-c commented on #300
I intend to do a rebase for RHEL

[2020-03-19 12:33] HideoYamauchi commented on #300
Hi fabbione,
Hi Chrissie,

Thanks for your comment.

In Japan, it is a consecutive holiday from tomorrow.
Next week I will try.

Best Regards,
Hideo Yamauchi.

[2020-03-23 02:07] HideoYamauchi commented on #300
Hi Fabbio,
Hi Chrissie,

I installed github's stable1-proposed directly from source code.

As a result, the cluster will be configured for a moment, but soon the nodes will leave and each node will be isolated.
It seems that the token has expired immediately.
(Of course, the cluster will be configured correctly with ucast settings.)

node1.log
[code]

node2.log
[code]

corosync.conf(-both node)
[c

[2020-03-23 04:53] fabbione commented on #300
Hi @HideoYamauchi,

could you please enable debug logs on both nodes?

I can see the knet links going up and down. Are those machines VMs? is it possible the hypervisor they are running on is overloaded / over-committed?

If that´s the case, I recommend increasing token timeout and tune knet ping/pong timeout. IIRC corosync will configure the knet ping/pong timeout based on token timeout.

Fabio

[2020-03-23 05:44] HideoYamauchi commented on #300
Hi Fabbio,

The environment is a VM on vSphere.

I changed the token to 10000 and turned on debug.
The following log was obtained, but this time, communication between the two nodes does not connect at all, and it seems that it is still a single node.

node1.log
[code]

node2.log
[code]

Best Regards,
Hideo Yamauchi.

[2020-03-23 05:59] fabbione commented on #300
This is very weird, test01 takes several seconds (more than 11) to
connect to test02. Just after the connect, 2 pings go through and then
connection is lost (as if test02 was stopped). Both incoming and
outgoing connections are interrupted at the same time (see fd 34 and 35).

Does this setup work with UDP? I am just trying to isolate the problem here.

Is there any network object (switch, router)

[2020-03-23 06:07] HideoYamauchi commented on #300
Hi Fabio,

In this environment, it is true that the cluster is configured when switching back to udp.

It runs on a single ESXi host, but it does have a network switch between the VMs.

The current kernel version is as follows:

[code]

I will try it on other environment (KVM or...).

Best Regards,
Hideo Yamauchi.

[2020-03-25 04:08] HideoYamauchi commented on #300
Hi Fabio,

For the time being, I tried it even in the Hyper-V environment at hand.
RHEL8.1 guests are in an environment where they do not pass through externally connected network switches.

libknet creates and installs rpm from source code using stable1-proposed.

[code]

In the same way as the vSphere environment, with the sctp setting, a cluster is once built, but it will be a single node confi

[2020-03-25 05:12] fabbione commented on #300
Hi @HideoYamauchi,
thanks for the extra information.
2 quick questions:
is sctp kernel module loaded? by default sctp is blacklisted in RHEL
is firewalld running? if so did you open the ports for sctp? They are not enabled by default.

[2020-03-25 05:15] HideoYamauchi commented on #300
Hi Fabio,

The sctp module is loaded.
Also, firewall is not set.

[code]

Many thanks,
Hideo Yamauchi.

[2020-03-25 05:26] fabbione commented on #300
@HideoYamauchi rhel8 does not use iptables. Can you please try and stop firewalld? I have yet to get familiar with the new firewalling mechanism.

[2020-03-25 05:28] HideoYamauchi commented on #300
Hi Fabio,

Immediately after building the hyper-v environment, firewalld has already stopped.

[code]

Many thank,
Hideo Yamauchi.

[2020-03-25 05:34] fabbione commented on #300
@HideoYamauchi thank you very much for the information. We will look into it immediately.

Fabio

[2020-03-25 05:36] HideoYamauchi commented on #300
Hi Fabio,

I will check it on KVM as soon as possible.

If you have the required information, please tell me what you want.

Best Regards,
Hideo Yamauchi.

[2020-03-25 05:52] fabbione commented on #300
@HideoYamauchi I am testing on KVM, and yes if we need more information we will ask right away. Thanks a lot for all the help so far.

Fabio

[2020-03-25 06:02] HideoYamauchi commented on #300
Hi Fabio,

All right!

thanks,
Hideo Yamauchi.

[2020-03-25 07:00] fabbione commented on #300
@HideoYamauchi I can reproduce the issue exactly as you describe when using stock libknet1 from rhel8, but the problem does not exist when using libknet1 from stable1 or stable1-proposed repositories.

For the sake of excluding issues, can you please show me rpm -qa |grep libknet ?

I am running 1.15-1.5.0d2c.el8.x86_64 (stable1 proposed) and the cluster is fine.

[2020-03-25 23:35] HideoYamauchi commented on #300
Hi Fabio,

Maybe I'm missing libknet's build.

[code]

I will also check using your built rpm.

But....

I tried replacing the hyper-v rpm, which is not well configured, but again the cluster seems to be a single configuration soon after being configured.

[code]

(node1.log)
[code]

(node2.log)
[code]

Best Regards,
Hideo Yamauchi.

[2020-03-25 23:39] HideoYamauchi commented on #300
Hi Fabio,

Apparently, the stable1 proposed repository where I created the rpms seems a bit old.

---> I got the latest github and recompiled stable1-proposed.
---> I compiled the vSphere environment.
--->  However, once again, once a cluster is built, it quickly becomes a single-node configuration.

Best Regards,
Hideo Yamaauchi.

[2020-03-26 06:19] fabbione commented on #300
@HideoYamauchi the 1.90 rpm are from master branch and they should also contain the fix, but you will need another version of corosync to run with them.
If you can just grab the libknet1 from our repositories and make sure no other versions are on the system (manually installed for example) that would be best.

What I did:
- deploy rhel8.1 clean
- install pacemaker / corosync / pcs
- added this re

[2020-03-26 06:38] HideoYamauchi commented on #300
Hi Fabio,

Thanks for the comments and the detailed steps.

I will recreate the RHEL8.1 environment again.
Then I try the steps you gave me.

We will also report the results.

By the way, can I build another corosync from corosync github?

Best Regards,
Hideo Yamauchi.

[2020-03-26 07:59] chrissie-c commented on #300
Just for the record I tried this myself on RHEL8. The installed packages have the problem (of course), but just installing stable1 (I did it from sources) makes it work fine.

[2020-03-26 09:01] fabbione commented on #300
@HideoYamauchi yes and you can also get pre-built rpms from the url above (there is a corosync-* repo file) but let's try to isolate one problem at a time.

[2020-03-26 21:02] HideoYamauchi commented on #300
Hi Fabio,
Hi Chrissie,

Thanks for your comment.

First of all, I will create a RHEL8.1 node today using the procedure I was told yesterday.
(--->Sorry...Confirmation is likely next week.)

Many thanks,
Hideo Yamauchi.

[2020-03-31 04:00] fabbione commented on #300
@HideoYamauchi hey, did you have any chance to test with the above setup?

Thanks
Fabio

[2020-03-31 08:11] HideoYamauchi commented on #300
Hi Fabio,

Sorry...
I haven't tried it yet.
I think... I can try it tomorrow.

---
Hi Fabio,

I installed it in the procedure.
I configured it on hyper-v (@windows server 2019).

Step1) Clean install rhel8.1 on two VMs. Assign a developer subscription.
Step2) Enable rhel-8-for-x86_64-highavailability-rpms.

[code]

Step3) Install kernel-modules-extra.
[code]
(I restarted once to enable modprobe of

[2020-04-07 09:25] fabbione commented on #300
@HideoYamauchi I apologies, somehow I didn't receive the email from github with the updated comment.

As mentioned, you might need to install libzstd to fit all requirements. If you don't have libzstd you can safely deinstall all compress plugins and perform the update.

[2020-04-07 09:52] fabbione commented on #300
@HideoYamauchi https://kronosnet.org/libzstd-1.4.2-2.el8.x86_64.rpm this will make it easier for you.

Cheers
Fabio

[2020-04-08 00:37] HideoYamauchi commented on #300
Hi Fabio,

Okay!

I will install that rpm and try again.

Many thanks,
Hideo Yamauchi.

[2020-04-08 02:01] HideoYamauchi commented on #300
Hi Fabio,

With the rpm installed, the yum update is complete.

[code]

However, when I start two nodes, the configuration collapses immediately and becomes a single node configuration.

[code]

Best Regards,
Hideo Yamauchi.

[2020-04-08 03:17] fabbione commented on #300
@HideoYamauchi can you please enable debug? I can see the nodes are joining and then token is lost, but I don´t see the knet link going down.

[2020-04-08 04:09] HideoYamauchi commented on #300
Hi Fabio,

Sorry...I inadvertently forgot to turn on debug.

[code]

Best Regards,
Hideo Yamauchi.

[2020-04-08 04:14] fabbione commented on #300
@HideoYamauchi thanks, could you be so kind to attach the logs from the other node too?

knet is receiving a message from the kernel that the sctp connection has been lost:
Apr 08 13:09:29 [1417] rh81-s1 corosync debug   [KNET  ] sctp: [event] sctp assoc change socket 35: comm_lost

the disconnection is not caused by lack of ping / pong but something is telling the kernel to disconnect.

We might

[2020-04-08 04:45] HideoYamauchi commented on #300
Hi Fabio,

Thanks for your comment.

After starting Node1, attach both logs when starting Node2.

Node1.log
[code]

Node2.log
[code]

[code]

Best Regards,
Hideo Yamauchi.

[2020-04-08 05:01] fabbione commented on #300
@HideoYamauchi ok  perfect, thanks.

Both nodes are experiencing the same events at the same time. Can you please capture a tcpdump (verbose if possible) on both nodes?
1) enable tcpdump
2) start corosync
3) wait for the fallout
4) stop tcpdump

If the files are too big to upload here, please let me know and we will figure out a way to handle it.

Thanks
Fabio

[2020-04-08 05:11] HideoYamauchi commented on #300
Hi Fabio,

I took only eth1 that is performing corosync communication.

Node1
[code]

Node2
[code]

If you have any mistakes or missing information about my use of tcpdump, please contact me.

Best Regards,
Hideo Yamauchi.

[2020-04-08 06:02] fabbione commented on #300
@HideoYamauchi as I mentioned in the previous comment, could you please run tcpdump in verbose mode? and thanks for all the help. I´ll have people looking at them asap.

[2020-04-08 08:15] HideoYamauchi commented on #300
Hi Fabio,

It was obtained by the following command on each node.

[code]

The file name has been added with a zip extension.
(It cannot be uploaded without the extension, so it is attached.)

You should be able to read it with the following command.
[code]

Best Regards,
Hideo Yamauchi.

[node1.zip](https://github.com/kronosnet/kronosnet/files/4449135/node1.zip)
[node2.zip](https://github.com/kro

[2020-04-09 04:10] fabbione commented on #300
@HideoYamauchi we have been talking to our SCTP kernel maintainers and here is his email.

You can find the debug kernel module here: https://kronosnet.org/sctp.ko.xz

== quoting ==

Hi, Fabio

https://github.com/kronosnet/kronosnet/issues/300

I couldn't get much information from the tcpdump in this link.

Can you send this sctp.ko.xz(as attached) to them? and load it

  # insmod ./sctp.ko.xz

(H

[2020-04-09 04:55] HideoYamauchi commented on #300
Hi Fabio,

Executed the insmod indicated and got dmesg.
Attach the file obtained by each node together with corosync.log.

Best Regards,
Hideo Yamauchi.
[log_and_dmesg.zip](https://github.com/kronosnet/kronosnet/files/4454091/log_and_dmesg.zip)

[2020-04-10 04:13] fabbione commented on #300
@HideoYamauchi could you please try to add:

  # sysctl -w net.sctp.association_max_retrans=100
  # sysctl -w net.sctp.path_max_retrans=50

on both nodes and see if it helps?

quoting the email from our SCTP engineering team:

The abort is triggered as the asoc is already lost on node2.
From corosync.log.node2:

  Apr 09 13:45:51 [1499] rh81-s2 corosync debug   [KNET  ] sctp: [event] sctp assoc ch

[2020-04-11 04:34] HideoYamauchi commented on #300
Hi Fabio,

Is it OK to perform the following steps on each node?

Step1) insmod ./sctp.ko.xz
Step2) sysctl -w net.sctp.association_max_retrans=100 and sysctl -w net.sctp.path_max_retrans=50
Step3) Start corosync.....
Step4) Collect corosync.log and dmesg.

Best Regards,
Hideo Yamauchi.

[2020-04-11 04:38] fabbione commented on #300
@HideoYamauchi yes that sounds right.

Thanks
Fabio

[2020-04-11 04:52] HideoYamauchi commented on #300
Hi Fabio,

It was implemented and confirmed on both nodes.

Step1) insmod ./sctp.ko.xz
Step2) sysctl -w net.sctp.association_max_retrans=100 and sysctl -w net.sctp.path_max_retrans=50

[code]

Step3) Start corosync.....
Step4) Collect corosync.log and dmesg.

Best Regards,
Hideo Yamauchi.
[log_and_dmesg2.zip](https://github.com/kronosnet/kronosnet/files/4464065/log_and_dmesg2.zip)

[2020-04-15 12:50] fabbione commented on #300
@HideoYamauchi we need to dig even further.

You can find a new debug kernel module here: https://kronosnet.org/sctp.ko.xz (md5sum 89090934ed06046974262298b3ad7039)

Please run corosync with debugging logs, capture tcpdump and when the issue occurs (and before stopping corosync) please capture both dmesg and cat /proc/net/sctp/assocs, now you can stop corosync.

Thanks a lot for the help investiga

[2020-04-16 23:37] HideoYamauchi commented on #300
Hi Fabio,

Thanks for your comment.

The confirmation is likely to be delayed because of other work.
I think we will be able to disclose the results on Monday.

Best Regards,
Hideo Yamauchi.

[2020-04-17 06:40] fabbione commented on #300
@HideoYamauchi no pressure, just take your time.

Cheers
Fabio

[2020-04-18 00:36] HideoYamauchi commented on #300
Hi Fabio,

I used the new sctp.ko.xz to collect the data.

[code]

Best Regards,
Hideo Yamauchi.
[log_and_more.zip](https://github.com/kronosnet/kronosnet/files/4495782/log_and_more.zip)

[2020-04-18 03:42] fabbione commented on #300
@HideoYamauchi thanks for the data. we will look into it asap.

Fabio

[2020-04-18 07:29] fabbione commented on #300
@HideoYamauchi do you mind to add also corosync.conf? it seems different from the one provided initially.

Thanks
Fabio

[2020-04-18 08:25] fabbione commented on #300
@HideoYamauchi one more thing, can you please show us netstat -an |grep sctp after corosync is started and before you stop it? we need to double check the binding addresses between logs and kernel.

Thanks
Fabio

[2020-04-18 16:14] fabbione commented on #300
@HideoYamauchi we were finally able to reproduce the issue in house. we are looking into a workaround and a solution in the meantime.
More information will folllow soon.

[2020-04-18 21:52] HideoYamauchi commented on #300
Hi Fabio,

Thanks for your comment.

Okay!

Please contact me again if you need any information.

Many thanks,
Hideo Yamauchi.

[2020-04-19 04:48] fabbione commented on #300
@HideoYamauchi could you please test this build here (based on stable1-proposed): https://kronosnet.org/test/

It should address this issue based on our reproducer and tests.

[2020-04-19 05:13] fabbione commented on #300
@HideoYamauchi

according to our observation there are at least a couple of problems:

1) in your environment, each node has a virtbr interface with the same IP address on both node.
   this is in general a valid setup but in combination with 2 makes things explode.
2) knet outgoing connections do not bind to a specific address but rather use a 0.0.0.0 that includes this duplicated IP address when

[2020-04-19 21:07] HideoYamauchi commented on #300
Hi Fabio,

Thank you for your detailed problem description.

I will try the test.
Of course, we don't deploy to production.

Best Regards,
Hideo Yamauchi.

[2020-04-19 23:17] HideoYamauchi commented on #300
Hi Fabio,

I have applied and verified your patch to master.
With your patch, corosync now correctly builds clusters with the sctp protocol.

Many thanks,
Hideo Yamauchi.

[2020-04-22 11:53] fabbione commented on #300
@HideoYamauchi the fixes for this issue are now in master and stable1-proposed. Autobuilt rpm should be available within the next few hours in the upstream repository.

Thanks
Fabio

[2020-04-22 11:53] #300 closed, assigned to chrissie-c

[2020-04-22 20:53] HideoYamauchi commented on #300
Hi Fabio,

All right!

Many thanks!
Hideo Yamauchi.

[2020-04-23 03:33] fabbione commented on #300
@HideoYamauchi the new rpms should be available in the stable1-proposed repository.

Thanks a lot for all the help debugging this issue!

Fabio

[2020-04-28 09:35] wferi opened #303 "Broken CI link on kronosnet.org"
It points to `https://ci.kronosnet.org/%20`, and the trailing space is considered an error by Jenkins.

[2020-04-28 09:54] fabbione commented on #303
@wferi thanks! and fixed...

[2020-04-28 09:54] #303 closed, assigned to nobody

[2020-07-07 15:00] fabbione opened #309 "[crypto] port to openssl3"
Hey Feri,

I need some help on $subject.

CI recently spotted that Debian experimental has openssl 3.0 packages (some old devel snapshot).

knet uses HMAC (https://www.openssl.org/docs/manmaster/man3/HMAC.html) that has been deprecated in 3.0. We currently have a workaround in place to continue build / running:

https://github.com/kronosnet/kronosnet/commit/b5702c1eb54a472513a04f23dca8267367f4fe70

[2020-07-14 16:36] wferi commented on #309
Hi Fabio,
Sorry for not replying sooner, I was on holiday for most of the last two weeks. Debian experimental carries OpenSSL 3.0.0-alpha4 currently, according to the change logs. This is the latest pre-release, isn't it? And based on the build log the `libssl-dev_3.0.0~~alpha4-1_amd64.deb` package contains `/usr/include/openssl/mac.h`. Isn't this what you're after? I'll take a closer look as time

[2020-07-15 03:26] fabbione commented on #309
Hey Feri,

oh cool, hope you had a good time. Yes it looks like it just landed this week. No need to take any further action.

Thanks
Fabio

[2020-07-15 03:26] #309 closed, assigned to wferi

[2021-09-20 13:20] chrissie-c commented on #24
I've tidied the return codes and the "err = -1" comment you mentioned, thanks. I've left routines that just return 0 or -1 because that's the standard for everything else, so is implied (though I did also add a comment just to be sure).

[2021-09-21 03:05] fabbione commented on #24
@chrissie-c thanks for the patch. PR is merged

[2021-09-21 03:05] #24 closed, assigned to nobody

[2021-11-30 09:16] glaubitz opened #371 "kronosnet tries to unconditionally build with -fstack-protector which is not available on all targets"
`kronosnet` fails to build from source on Debian alpha, hppa and ia64 targets as the build system tries to use the `-fstack-protector` flag unconditionally which is not available on these targets and consequently generates a warning which fails the build when built with `-Werror`:

[code]

Full log: https://buildd.debian.org/status/fetch.php?pkg=kronosnet&arch=alpha&ver=1.23-1&stamp=1638252618&raw

[2021-11-30 09:34] fabbione commented on #371
Hi @glaubitz,

thanks for the report and a pointer to the potential fix. Can you please try to apply this patch here:

https://github.com/kronosnet/kronosnet/pull/372/commits/4b765d6c3a994fe15abf2b9861109373ffe36322

I am running it inside CI at the moment as well.

Thanks
Fabio

[2021-11-30 09:42] glaubitz commented on #371
Yes, this patch fixes the build for me on alpha. Thanks for the fast reply and fix.

[2021-11-30 11:08] fabbione commented on #371
Thanks for testing the fix, my hppa/ia64 boxes have been powered off for too long :)

I am just waiting for CI to complete the tests and I will merge the patch in both master and next stable release.

@wferi just FYI..

[2021-11-30 11:12] glaubitz commented on #371
You can still install a current version of Debian in case you are tempted to:

Awesome, thanks!

[2021-11-30 11:20] fabbione commented on #371
Yeah I am an ex-DD... and still running Debian on most of my systems ;)

Temptation is always there.. time a bit less :D

No problem at all

[2021-11-30 11:58] #371 closed, assigned to nobody

[2021-11-30 13:07] fabbione commented on #371
Patch has been queued for the next stable release as well.

[2021-11-30 13:48] glaubitz commented on #371
That's great. It will hopefully land this way in Debian soon. Thanks again for fixing this so quickly!

[2021-11-30 13:53] fabbione commented on #371
I added @wferi in CC to this issue. He is the current Debian maintainer :)

No problem at all, the bug report was good and it makes it easier to fix things.

[2021-11-30 14:00] glaubitz commented on #371
Great, thanks.

FWIW, I have also opened a bug report in Debian and attached your patch there.

I successfully applied the patch to the current Debian unstable package as well.

[2021-11-30 14:03] fabbione commented on #371
Great, thanks. Wferi is super responsive and we work together a lot. He will pick it up :)

[2021-11-30 15:08] messani opened #373 "Suspicion to infinite loop problem?"
Hi,
I have a suspicion that there is bug in your code. I experienced 100% CPU usage by process corosync which uses your library. It happened when I disabled network interface by ifconfig (`ifconfig eth0 down`). I did not have debugging symbols, so I tried to guess where the bug was exactly.
It looked like forever loop in which function `sendto()` was called. `sendto()` returned -1 and `errno` valu

[2021-11-30 15:29] fabbione commented on #373
Hi @messani,

thanks for your report. We will definitely look into it as soon as possible.

Can you please tell me what version of knet you are using and provide corosync.conf? Also what distribution (Fedora/Debian etc).

Thanks
Fabio

[2021-12-01 05:33] fabbione commented on #373
@chrissie-c can you please take a look at this one?

[2021-12-01 06:25] messani commented on #373
Debian 10.9
libknet1 1.8-2
[corosync.zip](https://github.com/kronosnet/kronosnet/files/7631350/corosync.zip)

[2021-12-01 06:44] messani commented on #373
Ha, the bug occur not by disabling interface, but by disabling route to the target address. Sorry.
route add 192.168.12.2/32 reject

BTW I dont know corosync. I was integrating something else to our linux server and watched this 100% CPU usage, so I attached to it with gdb and tried to get some information. Corosync is not my responsibility, so I do not know much about it.

[2021-12-01 11:54] fabbione commented on #373
Hi @messani thanks for all the extra information. We will look into it as soon as possible.

[2021-12-02 08:36] chrissie-c commented on #373
This sounds like a bug that was fixed in 1.14, is there any chance you could try a knet version that's a bit more up-to-date please ?

[2021-12-02 09:13] messani commented on #373
I am not able to try newer version, because somebody else is responsible for the servers where corosync runs.
But I spoke to guy, who is responsible, and he told me that he can install newer debian which uses libknet 1.20 probably next week. He is busy now.
I don't think that this is high priority bug. So if you agree, I will try it next week.

BTW. do you know the exact commit, which fixes this b

[2021-12-02 09:15] chrissie-c commented on #373
The loop still exists (and should), but other sendto() returns are checked and handled better. The main commit is d2a30ac0135c15eebce25a89f943e9062e1b3f6c but there are others too IIRC

[2021-12-02 09:23] messani commented on #373
The commit fixes errno ENETUNREACH but my errno value was EHOSTUNREACH. So I guess that there will be still this bug in newer version.

We will try it next week and I will let you know.
Thank you.

[2021-12-02 09:27] chrissie-c commented on #373
28ddb87a2f4562c5d1752a778744cc56136f81c1 also handles for EHOSTUNREACH

[2021-12-02 09:33] messani commented on #373
Yes, that commit seems to fix this bug. Thank you.

[2021-12-02 09:36] chrissie-c commented on #373
I just tried it on my cluster using the knet 1.23 and I don't see any spinning if I add that route, so hopefully that will work for you. Let us know if not, of course :)

[2021-12-13 11:45] messani commented on #373
H.
I am sorry for delay. Colleague is too busy so I tried to build the library myself.

I used version 1.23. I tried master version but it is not compatible (version 2.x instead of 1.x).
The problem is still there. I can give you exact information from GDB, because now I can see the program.

`if (transport_get_connection_oriented(knet_h, dst_link->transport) == TRANSPORT_PROTO_NOT_CONNECTION_ORIE

[2021-12-13 13:48] chrissie-c commented on #373
Thanks for the detailed report, it's now clear why the latest check wasn't catching it, so it does need to go in the first list. Can you try this patch please?

[code]

[2021-12-13 14:35] messani commented on #373
Yes, this patch seems to work. CPU is not in loop now.
I think that corosync works well too, but I don't understand it, so I am not sure. It seems to be ok for me.

Thank you.

[2021-12-13 14:45] chrissie-c commented on #373
That's good to know, thank you. I'll raise a PR and get this into the codebase.

[2021-12-14 13:28] fabbione commented on #373
The fix is merged into master branch and queued for the next stable release.

[2022-03-03 12:48] #373 closed, assigned to chrissie-c

[2022-10-24 07:14] mashiguo opened #389 "build error!"
[root@compute1 kronosnet-main]# ./autogen.sh
autoreconf: Entering directory `.'
autoreconf: configure.ac: not using Gettext
autoreconf: running: aclocal -I m4
build-aux/git-version-gen: WARNING: .gitarchivever doesn't contain valid version tag
build-aux/git-version-gen: ERROR: Can't find valid version. Please use valid git repository, released tarball or version tagged archive
configure.ac:22: err

[2022-10-24 08:10] fabbione commented on #389
@mashiguo how did you obtain the source code? AS you can see the error is pointing you to use git clone or, released tarball and a version tagged archive.

[2022-10-24 08:58] mashiguo commented on #389
@fabbione My computer cannot connect to the outer network. I compiled the source code I downloaded in the warehouse(.https://github.com/kronosnet/kronosnet). My GIT version 2.27.0
In addition, there is no DOXYGEN2MAN command after Doxygen source code compilation and installation

[2022-10-24 09:16] fabbione commented on #389
I would strongly recommend you use a release tarball. https://kronosnet.org/releases/ that has all the files required to build knet online and offline. Also the main branch is not production ready.

[2022-10-24 09:29] mashiguo commented on #389
@fabbione Okay, let me try! My friends thank you very much !!!

[2022-10-24 09:53] mashiguo commented on #389
@fabbione The Doxygen2man command does not exist, the soft link doxygen I created
I use https://kronosnet.org/releases/kronosnet-1.24.tar.gz

Error when make install
make[3]: Nothing to be done for 'install-exec-am'.
 /usr/bin/mkdir -p '/usr/share/man/man3'
 /usr/bin/install -c -m 644 ./knet_addrtostr.3 ./knet_handle_add_datafd.3 ./knet_handle_clear_stats.3 ./knet_handle_compress.3 ./knet_handle_c

[2022-10-24 09:57] fabbione commented on #389
@mashiguo easiest is to just disable man page build:

./configure --disable-man

[2022-10-25 00:34] mashiguo commented on #389
@fabbione OK ,very good! It is OK!  thank you very much!

[2022-10-25 06:37] fabbione commented on #389
@mashiguo no problem.

[2022-10-25 06:37] #389 closed, assigned to nobody

[2022-10-28 09:11] mashiguo opened #390 "pacemaker error!"
Seeing that you are a corosync contributor, now I have a problem that pacemaker can't start, can you help me take a look,
crm status
error: Could not connect to launcher: Connection refused
crm_mon: Connection to cluster failed: Connection refused
ERROR: status: crm_mon (rc=102):
error: Could not connect to the CIB manager: Transport endpoint is not con>

  [7273] (mcp_read_config) 	info: Could no

[2022-10-28 11:56] chrissie-c commented on #390
This is not a knet issue and I've already commented on it on the corosync side.

[2022-10-28 11:56] #390 closed, assigned to nobody

[2022-11-28 13:42] fabbione opened #394 "Issues with cross compiling"
Hey Feri,

I need some specific Debian help here. Just filing the issue to open a discussion.

https://ci.kronosnet.org/view/knet/job/knet-build-crosscompile-armhf/

started failing a few weeks ago with pkg-config unable to find nss for armhf.

10:11:08 ii  libnss3-dev:armhf                     2:3.85-1                          armhf        Development files for the Network Security Service librar

[2022-11-29 07:13] wferi commented on #394
Hi Fabio,

I bet this is related to https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=1020799, in other words, some incompatibility between pkg-config and pkgconf. Cross compilation probably wasn't tested much if at all before the transition. I'll try to look into this in more detail shortly. It isn't yet clear where the bug is, but probably not in Kronosnet.

[2022-11-29 08:43] fabbione commented on #394
Hey Feri,

thanks for the info. I am fairly sure it´s not Knet related, tho we might need to adjust stuff as necessary. Feel free to share those info with the pkgconf maintainers. Clearly cross-compilation is less "mainstream" ;) but might as well help them to get their stuff right.

[2022-11-29 09:35] wferi commented on #394
Actually, I can happily cross-build the current Debian sid kronosnet package on amd64 to armhf with the
[code]
command. After the build I can also run the configure command from the Jenkins log in the same environment successfully, even though only the armhf version of libnss3-dev is installed there. Could you please debug this in the Jenkins environment exhibiting the problem? Here:
[code]
and in

[2022-11-29 10:20] fabbione commented on #394
That´s definitely the issue.

PKG_CONFIG='/usr/bin/pkg-config'

now, what provides /usr/bin/arm-linux-gnueabihf-pkg-config ?? in Ubuntu it seems to be a specific package that I can´t find in Debian... google is not really helping me for some reasons.

[2022-11-29 10:20] fabbione commented on #394
(and yes i noticed the warning in the logs that didn´t used to be there.. so we are close to the real problem)

[2022-11-29 10:34] fabbione commented on #394
ok found it....

[2022-11-29 10:35] fabbione commented on #394
and it doesn´t work ROFL

[2022-11-29 10:37] fabbione commented on #394
got it to work.. and sorry for the SPAM..

thanks man!

[2022-11-29 10:37] #394 closed, assigned to wferi

[2022-11-30 14:09] wferi commented on #394
Glad you worked it out! What was the problem?